@{
    ViewBag.Title = "Videos";
}
@section scripts {
    @Scripts.Render("~/bundles/fancybox")


    <script type="text/javascript">
        $(document).ready(function () {
            $('.fancybox-media').fancybox({
                openEffect: 'none',
                closeEffect: 'elastic',
                helpers: {
                    media: {}
                }
            });
        });
    </script>
}

<h2>Our videos</h2>

<!-- container -->
<div class="container">

    <!--  main row -->
    <div class="row">

        <!-- left col -->
        <div class="col-lg-8 col-sm-12">
            <div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Charles de Foucauld - Casablanca/Maroc
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="col-lg-4">
                                        <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/x28qtr_les-70-ans-de-charles-de-foucauld-1_school"><p>70 ans de l'école</p><img class="img-circle" src="~/Content/images/ACDF.gif" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                    </div>
                                    <div class="col-lg-4">
                                        <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/x1g5ulw_cdf2000_people"><p>CDF 2000</p><img class="img-circle" src="~/Content/images/ACDF.gif" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                    </div>
                                    <div class="col-lg-4">
                                        <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/xinpdv_olso64-73_people"><p>Maroc 64-73</p><img class="img-circle" src="~/Content/images/ma_dp_bd.gif" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="col-lg-4">
                                        <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/x1g66rk_gyzouyannismaroc1_news"><p>Yannis-Gyzou 2006 1/3</p><img class="img-circle" src="~/Content/images/ma_dp_bd.gif" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                    </div>
                                    <div class="col-lg-4">
                                        <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/x1g66wv_gyzouyannismaroc2_news"><p>Yannis-Gyzou 2006 2/3</p><img class="img-circle" src="~/Content/images/ma_dp_bd.gif" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                    </div>
                                    <div class="col-lg-4">
                                        <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/x1g671p_gyzouyannismaroc3_news"><p>Yannis-Gyzou 2006 3/3</p><img class="img-circle" src="~/Content/images/ma_dp_bd.gif" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="col-lg-4">
                                        <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/x1g5wpz_acdf-rugby_people"><p>Rugby 63-75</p><img class=" img-circle" src="~/Content/images/ACDF.gif" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                    </div>
                                    <div class="col-lg-4">
                                        <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/x1ow3tw_casablanca-41-recital-a-barbizon-mpg_people"><p>Bernard Sauvat</p><img class=" img-circle" src="~/Content/images/ACDF.gif" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                    </div>
                                    <div class="col-lg-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Réunion à BAYONNE 2011
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="col-lg-4">
                                        <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/xii0kk_acdf-2011_webcam"><p>Bayonne 2011 1/3</p><img class="img-circle" src="~/Content/images/Bayonne.jpg" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                    </div>
                                    <div class="col-lg-4">
                                        <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/xii825_acdf-2011-capbreton_people"><p>Bayonne 2011 2/3</p><img class="img-circle" src="~/Content/images/Bayonne.jpg" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                    </div>
                                    <div class="col-lg-4">
                                        <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/xii856_acdf-2011-portraits_people"><p>Bayonne 2011 3/3</p><img class="img-circle" src="~/Content/images/Bayonne.jpg" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Réunion à TOULON 2007
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-lg-4">
                                    <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/x28jup_les-femmes-de-toulon-2007-acdf_news"><p>Toulon 2007 1/2</p><img class="img-circle" src="~/Content/images/toulon.gif" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                </div>
                                <div class="col-lg-4">
                                    <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/x28izq_les-departs-toulon-2007-acdf_school"><p>Toulon 2007 2/2</p><img class="img-circle" src="~/Content/images/toulon.gif" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                </div>
                                <div class="col-lg-4">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    Mini Réunion PARIS 2005
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-lg-4">
                                    <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/x1g664s_4acdfparislun05dec05_news"><p>Paris 05/12/05</p><img class="img-circle" src="~/Content/images/paris.gif" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                </div>
                                <div class="col-lg-4">
                                    <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/x1g66b9_desacdfaparis17dec05_news"><p>Paris 17/12/05</p><img class="img-circle" src="~/Content/images/paris.gif" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                </div>
                                <div class="col-lg-4">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    Réunion à BAYONNE 2004
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-lg-4">
                                    <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/x1g5wgq_200407vs_people"><p>Bayonne 07/2004</p><img class="img-circle" src="~/Content/images/Bayonne.jpg" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                </div>
                                <div class="col-lg-4">
                                </div>
                                <div class="col-lg-4">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    Réunion PARIS 2004
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-lg-4">
                                    <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/x1g5vzp_paris2004-01_news"><p>Paris 02/2004 1/3</p><img class="img-circle" src="~/Content/images/toulon.gif" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                </div>
                                <div class="col-lg-4">
                                    <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/x1g5w4z_paris2004-02_people"><p>Paris 02/2004 2/3</p><img class="img-circle" src="~/Content/images/toulon.gif" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                </div>
                                <div class="col-lg-4">
                                    <a class="fancybox-media btn btn-default btn-block" target="_blank" href="http://www.dailymotion.com/video/x1g5vre_paris2004yannis_people"><p>Paris 02/2004 3/3</p><img class="img-circle" src="~/Content/images/toulon.gif" data-src="holder.js/70x70" alt="70x70" style="width: 70px; height: 70px; "></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- left col -->
        <!-- right col -->
        <div class="col-lg-4 col-sm-12">
            @Html.Partial("_NewsPartial")
        </div><!-- right col -->

    </div><!-- main row -->

</div><!-- container -->
