<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- Ja.Mvc.Acdf -->
  <add key="WebConfig" value="web.Debug.config" />
  <add key="Administrator" value="admin@free.fr" />
  <add key="AdminName" value="admin" />
  <add key="cdf54.CompanyName" value="Institution Charles de Foucauld" />
  <add key="cdf54.CompanyAddress" value="115 Boulevard Moulay Idriss I, Casablanca, Grand Casablanca, Morocco" />
  <add key="cdf54.GoogleMapKey" value="YOUR_KEY" />
  <add key="cdf54.DefaultBody" value="Hello un nouvel arrivant" />
  <add key="cdf54.DefaultSubject" value="Bienvenue sur le site des ACDF" />
  <add key="cdf54.EmailsRegistration" value="foucauld.casa@live.fr" />
  <!--External login localhost-->
  <add key="MicrosoftClientId" value="000000004415715D" />
  <add key="MicrosoftClientSecret" value="LcMzUkTcYFj3OicshnQ5M2sHhyC3I9iv" />
  <add key="TwitterConsumerKey" value="N4etsAlyubiFixkqlw2zcobXD" />
  <add key="TwitterConsumerSecret" value="6E9RiQ7msQWpUe45ouW5UjmWxh1qzJwsuSO3KLKZEdNuD4eylP" />
  <add key="FaceBookAppId" value="413376732201919" />
  <add key="FaceBookAppSecret" value="16e878a945b4d7b756221e789c23fd7c" />
  <add key="GoogleClientId" value="290957383665-u8q9hk4i05n3hh6c85j81564kkov8oem.apps.googleusercontent.com" />
  <add key="GoogleClientSecret" value="WqyK-pe1s_JkGbrYv905Eepd" />
  <add key="GitHubClientId" value="2bab7959c717e7a6a5ac" />
  <add key="GitHubClientSecret" value="a1e20d2bccf8c0f922dbbfd90794fe807a4893c2" />
  <!--Email-->
  <add key="credentialUserName" value="tfscdf54" />
  <add key="sentFrom" value="tfscdf54@gmail.com" />
  <add key="pwd" value="SjKwpy_0608516054" />
  <add key="Smtp" value="smtp.gmail.com" />
  <add key="Port" value="587" />
  <add key="EnableSsl" value="true" />
  <!--Twilio SMS-->
  <add key="AccountSid" value="AC39699ace46869340cc8bd23f35949f75" />
  <add key="AuthToken" value="9b3c61f7e3b2d6a3507a769f45b23271" />
  <add key="twilioPhoneNumber" value="+33975186543" />
  <!--Gravatar-->
  <!--
  https://en.gravatar.com/site/implement/images/
  404: do not load any image if none is associated with the email hash, instead return an HTTP 404 (File Not Found) response
  mm: (mystery-man) a simple, cartoon-style silhouetted outline of a person (does not vary by email hash)
  identicon: a geometric pattern based on an email hash
  monsterid: a generated 'monster' with different colors, faces, etc
  wavatar: generated faces with differing features and backgrounds
  retro: awesome generated, 8-bit arcade-style pixelated faces
  blank: a transparent PNG image (border added to HTML below for demonstration purposes)
  -->
  <add key="DefaultGravatarImageType" value="wavatar" />
  <!-- /Ja.Mvc.Acdf -->
</appSettings>
