<smtp from="tfscdf54@gmail.com" deliveryMethod="Network">
  <network host="smtp.gmail.com" port="587" enableSsl="true" userName="tfscdf54" password="SjKwpy_0608516054"  defaultCredentials="false" />
</smtp>
<!--<smtp from="foucauld.casa@live.fr" deliveryMethod="Network">
  <network host="smtp.live.com" port="25" enableSsl="true" userName="jose.alvarez.54@live.fr" password="saintjo"  defaultCredentials="false" />
</smtp>-->
<!--<smtp from="admin@jowalva.ddns.net" deliveryMethod="Network">
  <network host="85.68.231.134" port="25" enableSsl="false" userName="admin" password="SjKwpy_06085160"  defaultCredentials="false" />
</smtp>-->
