@{
 Layout = null;
 var path = ViewBag.filePath;
}
<iframe src="http://docs.google.com/viewer?url=http://jowalva.ddns.net/@path&embedded=true" width="600" height="780" style="border: none;"></iframe>
@*<a class="various fancybox.iframe" href="http://docs.google.com/viewer?url=http://jowalva.ddns.net/@path&embedded=true">Palmares 1966 (iframe)</a>*@
