<h4>MA PREMIERE RENTREE DES CLASSES</h4>

<p>
    Comme j’allais atteindre l’âge de six ans, mes parents se préoccupèrent
    de ma scolarité. Nous habitions avenue de l’Hermitage, dans le quartier
    du même nom ; ce fut donc tout naturellement, en voisins, qu’ils
    décidèrent de m’inscrire à Foucauld.
</p>
<p>
    Cette décision fut confortée par le fait que mon père, lui-même
    ancien élève d’une institution religieuse (dont il était ressorti
    fervent non-pratiquant) s’était forgé de son séjour chez les chers
    Frères un avis définitif sur les vertus de la discipline normalement
    pratiquée dans ces établissements. L’éducation surveillée que l’on m’y
    destinait devait concourir à faire de moi un homme accompli aux qualités
    morales parfaitement ancrées. Il rejoignait en cela un avis assez
    répandu à l’époque dont j’eus plus tard la confirmation : plusieurs de
    mes condisciples me confièrent avoir fait l’objet d’une démarche
    similaire de leur géniteur.
</p>
<p>
    Pauvre Papa ! J’ai longtemps cru que j’avais anéanti ses espérances,
    au plan de la conduite en tout cas ; heureusement j’appris par la suite,
    de la bouche même de ma grand-mère, que cette formidable indiscipline
    semblait génétiquement attachée à notre famille et se transmettait par
    les hommes de génération en génération. Je n’étais finalement que la
    victime innocente d’une hérédité malencontreuse dont je pus à mon tour
    mesurer les effets dévastateurs durant la scolarité de chacun de mes
    deux fils.
</p>
<p>
    Bref, pour revenir à nos moutons, c’est donc par un beau matin
    d’octobre 1954 (en ce temps-là la rentrée avait lieu le 1er octobre, ce
    qui nous faisait quand même de belles vacances d’été) que je fis mes
    premiers pas, au propre comme au figuré, à Charles de Foucauld.
</p>
<p>
    J’étais né un 21 juin, le jour de l’été qui n’était pas encore celui
    de la fête de la musique; j’avais six ans et 4 mois ce qui me mettait
    finalement à une proximité assez courte de ce que l’on a coutume
    d’appeler l’âge de raison. Au seuil d’une étape aussi importante,
    devais-je donner la main à ma mère qui ce jour-là, comme d’autres
    parents, m’accompagnait jusque devant la porte de la classe de 12ème ?
    Ma réflexion ne dura pas ; à moins d’un mètre je perçus soudain les
    hurlements déchirants d’un garçon probablement plus fragile que moi, en
    tout cas plus extraverti et dont, l’évocation de cette terrible journée
    nous ayant rapprochés, je sus plus tard qu’il s’appelait Olivier. Pauvre
    compagnon d’infortune ! Lui ne s’était pas posé pas la question de
    savoir s’il devait ignorer la main protectrice: il était tout entier
    agrippé aux jupes de sa mère qu’il implorait de ne pas l’abandonner ! La
    détresse du pauvre enfant me rappela l’histoire tragique du Petit Poucet
    qui m’a toujours profondément ému . Craignant de ne pouvoir contenir à
    mon tour des sanglots que je sentais insidieusement monter de ma gorge,
    je refusais de céder aux sirènes de la stéréophonie (qui n’avait d
    ‘ailleurs pas encore été inventée) et me sentant investi d’un devoir
    d’exemple, je m’assurais par le contact de la main maternelle un courage
    et une dignité qui, une fois n’est pas coutume, firent l’admiration des
    autres parents.
</p>
<p>
    Nous n’avons pas beaucoup travaillé ce jour-là, mais nous gagnâmes
    suffisamment d’assurance pour pouvoir revenir le lendemain sans
    appréhension. Peu à peu les chagrins s’apaisèrent, les angoisses
    s’estompèrent et nous primes possession de ce qui allait devenir notre
    univers quotidien pour de longues années.
</p>
<p>
    Ma mère en m’enseignant avec amour les rudiments de la lecture et de
    l’écriture dès l’age de 5 ans me permit de ne pas m’éterniser en 12ème :
    après quelques jours les effets de mon érudition me firent directement
    affecter en 11ème , ce qui sur le plan pratique ne changeait finalement
    pas grand chose, les 2 classes étant réunies dans la même salle. Mais le
    programme était différent et l’investissement maternel fut largement
    récompensé puisque cette année-là, j’obtins, pour la première mais
    aussi, hélas, pour la dernière fois de ma vie, le prix d’excellence sous
    la forme d’un livre que l’on me remit le jour de la distribution en me
    félicitant. Je me souviens encore du titre : « Les aventures de Hamou le
    Malin» et du contenu qui racontait l’histoire d’un petit blédard
    dégourdi, prénommé Hamou. C’est l’avantage inestimable de n’avoir eu
    qu’un seul prix d’excellence dans sa vie : le souvenir sublimé en reste
    intact!
</p>
<p>
    Et ainsi jours après jours, semaines après semaines, mois après mois,
    nous fîmes en un long parcours l’apprentissage de cette vie qui devait
    nous mener à l’âge adulte.
</p>
<p>
    Cinquante ans ont passé et le temps a une vertu extravagante : en
    expurgeant les moments douloureux il parvient à embellir le souvenir.
    Pourtant quand j’y repense je dois me rendre à l’évidence : la jeunesse
    ne fut pas le meilleur temps de ma vie ni Foucauld mes meilleurs
    souvenirs.
</p>
<p>
    Nous étions quelques-uns dans ce cas et nous gardions bien nos
    secrets. J’ai longtemps tu cette enfance difficile où pour fuir les
    bruits et les querelles d’un foyer désuni, en bâclant mes devoirs, je
    m’échappais dans les rues d’un quartier où j’avais fait de mes copains
    ma nouvelle famille. Je diluais dans l’indiscipline, les pitreries et
    les extravagances, l’alcool de mon père, la maladie fatale de ma mère et
    l’impécuniosité chronique de la famille. J’étais rebelle, un de ces
    êtres fragiles et durs en même temps, qu’un excès d’autorité loin de les
    soumettre pousse au contraire à la révolte. Etait-ce la prédestination
    de mon prénom « Christian », qui me valut comme dans les "Révoltés du
    Bounty", d’être plus souvent qu’à mon tour l’instigateur de menées
    contestataires? En tout cas la constance a toujours été chez moi une
    vertu cardinale: en mai 68 debout sur une barricade, je fus le premier
    emmené par les CRS de la bourgade alsacienne où j’avais établi domicile
    !
</p>
<p>
    Ces dix années passées à Foucauld furent comme un voyage au long
    cours: quelques fois paisibles souvent houleuses et j’ai essuyé bien des
    tempêtes. Des capitaines m’ont laissé de bons et merveilleux souvenirs :
    les sœurs Marie Désirée, Marie-Dominique, l’abbé Leblanc, les pères
    Coupeau, Minvielle, Brandam. J’en oublie probablement. D’autres me
    prirent même sous leur aile protectrice : Madame Kremer, les pères Hurou
    et Sabaté ; j’ai pour eux une véritable reconnaissance. S’il manque de
    la place au paradis qu’on leur en fasse avec la mienne, je la leur cède
    de tout mon cœur. Deux d’entre eux, en revanche, manquèrent
    singulièrement à mon égard de cette charité chrétienne que l’on porte
    naturellement au crédit de ceux qui se sont mis au service de l’Amour
    des autres. En tout cas pour l’adolescent meurtri et à la vie familiale
    disloquée que j’étais, ils se montrèrent durs, impitoyables et parfois
    cruels. Je serai plus généreux qu’eux : je ne les citerai pas.
</p>
<p>
    Quelle grande bouffée de nostalgie en parcourant ce site, quelle
    émotion à retrouver des noms de mon enfance. J’ai soudain, je dois le
    dire, un désir de pardon, une envie de redorer leur blason. Je ferme les
    yeux ; quelques vers de F. Pessoa me reviennent en mémoire : “Depois de
    amanhã, sim, só depois de amanhã... Levarei amanhã a pensar em depois de
    amanhã e assim será possível ; mas hoje, não... Não, hoje nada ; hoje
    não posso.” (1)
</p>
<p>Qu’ils aillent jouer à la pelote avec le diable !! </p>
<p>
    (1) Après demain, oui, seulement après demain… Je me lèverai demain
    en pensant à après-demain, et ainsi ce sera possible ; mais aujourd’hui,
    non. Non, aujourd’hui rien. Aujourd’hui, je ne peux pas.
</p>
<p>Lyon le 14/10/2004 </p>
<p class="pull-right"><span class="badge">[ C. BENEDIC ] </span></p>

