    <p>
        J'ai retrouvé la photo de Philippe Lepot, élève en première année de maternelle à Foucauld en 1974, avec son institutrice : Michèle Jamein, ancienne élève du Carmel St Joseph (Bd Djerrada, à l'Oasis) où la seule heure de colle qu'elle ait jamais eue de sa vie lui fut donnée en physique, par une certaine Madame Lepot...(*)
    </p>
    <p>
        Mais l'adorable Michèle n'en a pas profité pour se venger sur le fils...
    </p>
    <p>
        L'année suivante il a eu Khadija Benjelloun comme maîtresse, et c'est là qu'il a appris ses premiers mots d'arabe! Un jour il est rentré en nous chantant:
    </p>
<em>
    "rh'ma-ri, rh'mari, mred'oun bi rassi !<br />
    tabibouna atta-ou tarbouch' ali rassi !<br />
    tarbouch' ali rassi !"<br />
    (Mon â-ne, mon â-ne a bien mal à la tête !<br />
    not' toubib' lui a don-né un bonnet pour sa tête !...)<br />
    Ah! souvenirs...<br />
</em>
<p class="pull-right"><span class="badge">[ Michel LEPOT ] </span></p>
