<p>
    Il n'y a pas photo? le Père Salla est pour moi le champion du monde incontestable de la baffe à mains nues.
</p>
<p>
    Je n'ai jamais oublié la première reçue de sa part, j'en ai vu 36 chandelles.
</p>
<p>
    Et mon avis est celui d'un spécialiste qui en avait déjà reçu beaucoup tant de la part de mes maîtres que de celle de mon père naturel (ancien lutteur gréco-romain,
    militaire de carrière à la discipline de fer) qui avait longtemps hésité entre Audissou, C.de Foucauld et le prytanée militaire de la Flèche pour mon internat.
</p>
<p>
    Ceci dit, je ne lui en veut pas car au contraire de certains, ses baffes étaient justifiées dans la majorité des cas.
</p>
<p>
    D'autant plus qu'avant la baffe fatidique, il y avait des signaux d'alerte, notamment la couleur de son visage qui devenait rouge brique,
    annonçant qu'il était temps de calmer le jeu si l'on ne voulait pas finir en "pelota".
</p>
<p class="pull-right"><span class="badge">[ JP. FLORENTIN ] </span></p>

