<h4>A propos de ces textes</h4>
<img src="~/Medias/Images/Ident1.jpg" style="height:150px" title="C. BENEDIC" alt="C. BENEDIC" />
<p>C. BENEDIC</p>
<p>
    Ma première rentrée des classes: Mon premier copain de classe s’appelait Olivier. Après mon départ du Maroc, j’avais, pendant au moins 20 ans, vainement recherché son nom dans les annuaires de toutes les villes que j’ai traversées en France – et elles sont nombreuses – avec le vague espoir de le retrouver. Internet n’existait pas encore et si le minitel relança mes espoirs je fus vite déçu. En octobre 2004 je musardais sur Internet quand je tombais par hasard sur le site des anciens élèves de Charles de Foucauld, l’établissement où j’avais passé la plus grande partie de ma scolarité. Olivier n’était pas inscrit sur la liste des anciens qui y figurait. L’émotion de retrouver les noms de mes copains d’enfance et ceux de certains maîtres m’inspira ce texte que j’envoyais à José ALVAREZ qui le publia. Quelques jours plus tard je reçu un mail de mon copain Olivier qui découvrant comme moi ce site par hasard s’était reconnu!
</p>
<p>
    Des après-midi de chien: Jean-Paul FLORIN est décédé en août 2007. La fréquence des punitions que lui infligeait le RP.PUCHEU -préfet de discipline en même temps que prof de maths - et celle du RP. LATAPIE son alter ego en ce qui me concernait, faisait que nous nous retrouvions souvent collés en même temps. Je dédicace à sa mémoire les souvenirs de ces après-midi interminables.
</p>
<p>
    Le lys dans la vallée: Denis VERGUIN était toujours le premier de la classe. Après mon texte sur Jean Paul FLORIN il m'a envoyé cet email en février 2008: "Christian, je me souviens de toi, on était chacun à un bout du classement, mais tu faisais partie de ma famille d'école. je crois que j'aurais aimé que tu sois moins puni et que tu arrives à avoir de bonnes notes, juste pour ton plaisir." Denis ton souhait s'est réalisé !
</p>
<p>
    Les titres sont des clins d’œil. "Le lys dans la vallée" d'Honoré de BALZAC est un roman grandement autobiographique où le héros raconte son enfance malheureuse et sa rencontre avec une céleste créature qui transformera sa vie. "Un après midi de chien" est un film réalisé par Sidney LUMET. Vous aurez reconnu dans "Le temps retrouvé" l'allusion au roman de Marcel PROUST
</p>
<p>
    Enfin, même si j’ai parfois forcé le trait et concentré le récit pour le besoin narratif, ces lignes sont inspirées de souvenirs authentiques.
</p>
<p class="pull-right"><span class="badge">[ C. BENEDIC ] </span></p>
