<h4>DES APRES-MIDI DE CHIEN</h4>

<p>
    En ce temps-là la mode n'était pas à s'appeler par nos prénoms. J'aimais donc bien "FLORIN" et nous étions avec quelques autres (moi plus encore que lui) souvent collés en même temps. C'était bien là l'unique vertu de ces absurdes punitions: sans atteindre jusqu'à l'amitié, la solidarité des condamnés opérait entre nous un rapprochement qui nous aidait à égrener ces heures interminables dans la grande salle du sous-sol ordinairement affectée aux 6 émes et à l'étude du soir des petits.
</p>
<p>
    Le bon Père COUPEAU, en volontaire probablement désigné, assurait régulièrement la surveillance ennuyée de ces gardes à vue. Débordant d'une bienveillante tolérance dont nous n'avions pas pleinement conscience mais dont nous profitions sans vergogne, il feignait de ne pas voir les billets échangés ni les bavardages insonores où le vocabulaire, exagérément articulé et efficacement complété par un discret langage des signes, remplaçait avantageusement la voix. Hélas! si les initiés excellaient à cette communication feutrée, les punis occasionnels en revanche, sans doute mis en confiance par l'apparence débonnaire du surveillant, faisaient, après un premier silence initiatique, totalement fi des convenances et, oubliant toute prudence, s'exprimaient de plus en plus bruyamment. Le volume de décibels, en augmentant progressivement, finissait par atteindre un niveau qui rappelait singulièrement l'ambiance joyeuse des marchés de Provence. C’est alors que notre brave garde-chiourme, pour calmer le bruit qui enflait et risquait d'attirer sur nous - lui compris - l'attention visiteuse du Préfet PUCHEU, nous rappelait brutalement à son autorité d'un sonore et magistral : "UNTEL! 1000 LIGNES !". La démesure de la sanction suffisait in petto à ramener un calme relatif. Mais les vrais habitués, sachant que le bourreau charitable n'exigeait jamais de ses victimes la preuve de la peine effectuée, abandonnaient bien vite leurs mines hypocrites d'innocents dérangés dans leur travail par le désordre ambiant et reprenaient prudemment mais sans émoi le dialogue soudainement interrompu.
</p>
<p>
    En ce qui me concerne personne n'ayant encore pensé à instaurer les 35 h pénitentiaires, j'accumulais, une fois, plus d'heures de colle que n'en pouvaient compter tous les jeudis, samedis et dimanches - matin compris- du dernier trimestre. Cette inadéquation calendaire surprenante ébranla fortement le landernau préfectoral. On envisagea de me retenir au-delà de l'année scolaire mais c'était illégal. Monseigneur LEFEBVRE, à la demande de la Haute Autorité, annula pour tout le monde la grâce épiscopale traditionnellement accordée aux punis le jour des communions solennelles. On fit en vain appel à toutes les imaginations mais même le Préfet mathématicien dut se rendre à l'évidence: l'équation était insoluble et l'on se résigna à m'appliquer une peine amputée.
</p>
<p>
    Alors, m'estimant somme toute favorisé par le Destin qui m'envoyait cette providentielle confusion des peines arithmétique, je me consolais de tout ce temps perdu sur mes loisirs et j'affrontais avec un courage résigné la perspective annoncée de la punition hebdomadaire qui recommencerait le lendemain.
</p>
<p>
    Jean Paul Florin s'est évadé avant moi. Un an après lui je quittais Foucauld à mon tour. Nous ne nous sommes jamais revus puisque malgré les châtiments partagés nous ne nous l'étions jamais promis. Presque quarante ans plus tard, en 2001, par un pur hasard j'ai fait la connaissance de son frère Pierre. Leur relation était tendue. J'ai su que son enfance n'avait pas été très heureuse. Je me souvenais parfaitement de sa tête blonde, de son visage souriant. Je lui ai fait signe par écrit mais il n'a pas répondu. Je n'ai pas insisté.
</p>
<p>
    Adieu Jean-Paul fais bonne route pour ce denier voyage. Et si d'aventure sur le chemin du Paradis tu croises l'ancien préfet PUCHEU, fends toi la gueule sans retenue: s'il rode encore le vieux hiboux c'est qu'on ne l' y a pas laissé entrer!
</p>
<p>
    A JP FLORIN in memoriam. Lyon le 02/02/08
</p>
<p class="pull-right"><span class="badge">[ C. BENEDIC ] </span></p>
