<p>
    Le Père Sabatté, parti depuis 1973 à Floirac en Gironde et remplacé par le Père Maillharo, s'était proposé pour "garder la maison" de CdF pendant les vacances d'été.
</p>
<img src="~/Medias/_Photos/Divers/Vrac/01Moham78.jpg" style="max-width:100%" title="Pêche Mohamédia 1978" alt="Pêche Mohamédia 1978" />
<p>Pêche Mohamédia 1978</p>
<p>
    Avec Jean-Louis Garcelon (qui me remplaçait à Foucauld) et Jean-Marc Langer (un ami assistant à la fac de médecine) nous l'avons invité à pêcher le "maqueu-reau" dans le port de Mohammédia, avec un pêcheur très sympathique découvert par le Père Lauhirat : Mohammed dit "le Marrackchi", qui nous emmenait à la rame dans sa floqa , amarrée ensuite dans un courant propice à attirer les maquereaux, bogues, saurelles, et autres aiguillettes.
</p>
<p>
    Sur place, on préparait le "bromège", mélange de pain et de sardines écrasées dont le Marrackchi jetait une pincée à l'eau de temps en temps, juste assez pour attirer et retenir les convives à 2 m des bords de la barque...
</p>
<p>
    Nos cannes? Un roseau de 2,50m, à peine flexible du bout dont le diamètre est au moins égal à celui du petit doigt)
</p>
<p>
    Nos lignes? Un nylon de 2m et de 2 ou 3kg de résistance + un hameçon n° 8 ou 10 ...et c'est tout!
</p>
<p>
    Nos esches? Un bout de filet de sardine ou un boyau du même métal ...ou une lanière de peau du premier maquereau capturé!
</p>
<p>
    Nos gestes? Poser délicatement l'hameçon garni de son esche à la surface de l'eau à 2m du bord de la barque; le regarder descendre lentement dans la profondeur gris verdâtre et ...ferrer d'un coup sec dès qu'il disparaît à la vue car, 9 fois sur 10, si on ne voit plus sa tache claire, c'est qu'il a été englouti dans la gueule d'un bolide qu'on n'a pas eu le temps de voir arriver! Aussitôt il faut lever la canne pour arracher littéralement la prise hors de l'eau et la faire tomber dans la barque (où elle se décroche souvent toute seule en continuant de s'agiter furieusement). Si on attend une ou deux secondes de trop avant de réagir, alors ça se gâte car un maquereau de 500g est un vigoureux paquet de muscles qui se met tirer sur le fil avec une force et une vitesse incroyable et alors là: gare à l'emmêlage avec la ligne du voisin!
</p>
<p>
    Un jour, le père Béhoccaray, qui était venu avec nous, pose son roseau à côté de lui, en laissant le fil dans l'eau, le temps de s'allumer une cigarette pour se détendre après une bonne série de prises... On a seulement entendu "swiîiîiîip!" et on a juste eu le temps de voir son roseau plonger comme une torpille, entraîné à la suite d'un (probable) maquereau qui avait mordu à l'hameçon nu...
</p>
<p>
    En une matinée, il n'était pas rare de dépasser la centaine de prises à 3 ou 4 pêcheurs en plus du Marrackchi (le record dont je me souviens sans peine : quatre cents prises dans la matinée! sur la balance du port, cela faisait 80kg, soit 200g en moyenne par prise. Et comme il s'agissait d'excellent poisson (Ah! les filets de maquereau sur un lit d'oseille avec de la crème fraîche, accompagnés d'un Oustalet blanc de blanc...) on n'avait aucun mal à partager nos prises avec les amis et le Marrackchi qui, en plus, gagnait avec nous un peu plus d'argent qu'en allant pêcher pour son compte. Il nous invitait quelques fois à prendre le thé chez lui, dans le bled à quelques kilomètres du port, et je garde un souvenir très ému de l'accueil paisible que nous réservaient sa femme et ses enfants dans leur modeste maison de bois et de roseaux, au sol de terre battue d'une propreté exemplaire...
</p>
<p>
    Voilà quelques souvenirs devenus encore plus riches par le simple fait de les avoir partagés avec vous...
</p>

<p class="pull-right"><span class="badge">[ Michel LEPOT - Mimi] </span></p>
