<h4>UNE AFFAIRE DE FAMILLE</h4>

<p>
    Dans la campagne près de Strasbourg, de la route qui mène, en traversant la vallée de la Bruche, au village de Schwartzbach, on peut voir, formant une espèce de campement, quelques caravanes plantées dans un champ de luzerne. Dans l’une d’elles, là, au milieu de nulle part, vivent un homme et sa famille.
</p>
<p>
    L’homme, sans être âgé, n’est déjà plus tout jeune. La cinquantaine peut-être? Allez savoir… La vie au grand air a ses mérites. Mais une existence entière battue par le vent et la pluie, brûlée par le soleil des jours de grand beau temps, ça ne vous donne pas vraiment le teint de pêche des photos de magazines.
</p>
<p>
    Cet homme c'est Albert WEISS, un Manouche d’Alsace au caractère trempé, frappé au coin de la sagesse et de la sérénité. Un drôle de mec cet Albert. Il est gaucher et il joue de sa guitare comme les gauchers mais sans inverser les cordes! On a beau être musicien de père en fils on n'a pas toujours pas les moyens d'acheter un instrument pour chacun. Alors pour que la guitare soit toujours disponible il appris à jouer avec les cordes à l'envers. Pardi! c'est pas plus mal comme système : comme ça droitier ou gaucher, tout le monde en profite.
</p>
<p>
    C'est un bon guitariste Albert. Comme la plupart des Tziganes il joue à l'oreille, sans connaître une seule note. Chez lui, dans ce peuple dont les gens s'appellent entre eux les "Sinti" et que nous, nous désignons suivant le pays par les "Roms", les "Gitans", ou les "Manouches" c'est comme ça qu'on apprend la musique: on regarde d'abord avec respect ceux qui savent jouer puis on essaie de faire pareil. Et si on montre suffisamment d'ardeur à la tâche et de ténacité alors, pour vous aider, il y a toujours un père un oncle ou même un voisin disponible qui vous montre et vous corrige. C'est comme ça qu'il a appris Albert. Et même s'il ne sait pas vraiment le nom des accords qu'il plaque sur son manche, il ne se trompe jamais: ses doigts appuient toujours au bon endroit.
</p>
<p>
    Pourtant le plus surprenant c’est quand il décide de chanter. Parce qu’il chante aussi. Des chants traditionnels hérités de ses racines et dont il ne se souvient parfois même plus du titre. Mais aussi des chansons à lui, des ballades, des complaintes qu’il a composées, comme ça, en posant des mots sur les airs qui lui trottent dans la tête.
</p>
<p>
    Les chansons d’Albert, moi, elles me labourent le cœur . La langue manouche, on pourrait croire qu’elle a été inventée pour le chant. Peut-être parce que les Tziganes leur mémoire, c’est souvent par le chant qu‘ils la transmettent.
</p>
<p>
    Alors pour ne pas perdre tout ça, c'eût été trop bête, quelques-uns autour de lui, l’ont convaincu de les enregistrer. Oh! pas dans les studios d’une Major vous pensez bien, non, comme ça, où ils ont pu, avec les moyens du bord ; il faut dire que ça coûte cher d’enregistrer. Tout le monde a mis la main à la pâte : les frères REINHARDT Mandino et Sony aux guitares, Anne LIZT à la contrebasse; Daniel s’est occupé du son dans son studio, re-Mandino pour le mixage, Marie, avec ses tout-petits moyens pour la jaquette.
</p>
<p>
    Une affaire de famille en somme...
</p>
<p>
    Le résultat ce fut un CD auto-produit avec 4 titres, pas plus. Pas les moyens de faire mieux. Et un tirage de 200 exemplaires parce que c’est le minimum à commander pour lancer la fabrication. Pour amortir le prix de revient Albert devait en vendre 90 à 10 € la pièce. Presque tous les manouches d’Alsace lui en ont acheté un. Il en a vendu un peu plus de 100. N’allez pas imaginer pour autant qu’il n’y ait que 100 manouches en Alsace. Non; c’est plutôt qu’en général on n’ achète qu' un CD par foyer...
</p>
<p>
    Avec tout ça le chanteur, il est sorti de l’auberge, il a récupéré sa mise de départ et avec la centaine qui lui restait, il a même pu mettre quelques sous de coté. Maintenant, il se propose de réinvestir pour nous faire un grand recueil de ses chansons. Au moins 12 peut être même 14 titres. Bon c'est pas gagné. Il faudra un éditeur, il faudra trouver la distribution, il faudra et tout et tout... En attendant le crooner, ses trésors il les garde bien à l'abri. On n'est pas très nombreux à pouvoir en profiter, juste quelques amis triés sur le volet. Mais puisque nous sommes entre nous et que le temps nous est compté, j'ai décidé, en confidence, de vous livrer quelques extraits que vous saurez , je n'en doute pas, garder secrets ...
</p>

<p>
    Comme une affaire de famille!
<p class="pull-right"><span class="badge">[ C. BENEDIC ] </span></p>
