
    <p>
        Le Pere Salla n'avait pas des mains, mais des...Chisteras. :)
    </p>
    <p>
        Il nous expliquait, avec sa modestie habituelle, qu'il était un ancien champion de pelote à main nue et qu'après une partie, il devait tailler a la lame de rasoir pour "faire pisser le sang" et dégonfler ses doigts.
    </p>
    <p>
        Pour le gamin de 12 ans que j'étais, de tels propos le faisaient passer pour un super RAMBO !
    </p>

<p class="pull-right"><span class="badge">[ P.Y LE GALL ] </span></p>
