<h4>Silvana est là</h4>
<p>
    Parmi les moments forts, il faut que je vous narre un moment d'intense retrouvailles que nous avons vécu. Celui de Silvana (qui fera l'objet  d'une autre chronique) et de Philippe Bouin ( qui m'ayant chargé, dans l'atmosphère sonore et chargée de volutes de fumées de la Ménara,  de rédiger ces quelques lignes, ne perd, lui non plus, rien pour attendre…). Pour fixer le décor, nous savions par Claudia, la petite sœur protectrice aux ailes brisées, que le colis était quelque part sur les rails entre Villeneuve Loubet et la capitale. Munie de toutes les recommandations utiles à ce long périple, elle savait que Paris était le terminus, que Montparnasse en était la gare, et non le célèbre mont de Grèce, cher à Yanis, consacré aux Muses et à Apollon…elle savait beaucoup de choses encore. Bref, si elle était montée dans le train, elle saurait forcément bien en descendre ! L'heure d'arrivée était connue, le mail déjà rédigé, les téléphones sous tension, prêts à lancer sur les ondes éthérées un message qui deviendrait aussi célèbre que le fameux "sanglots longs des violons de l'automne", à savoir  le "Silvana est arrivée", qui aurait pu se chanter sur l'air de "Michael est de retour". Nous avions estimé à 1 heure le délai entre la descente du train et la montée des escaliers du 17 de la rue Bergère. Notre calcul s'avéra exact, merci au passage à nos différents professeurs  de mathématiques, puisqu'un coup de sonnette retentit : Silvana est là, Alléluia !!! (toujours sur l'air de Michael est de retour)..
</p>
<p>
    Premier contact crispé, "je te reconnais", "je te connais pas", "oui", "non" et puis, choc frontal…Philippe Bouin. En résumé géographique l'Islande, la rencontre de la glace et du feu. Pour préserver la susceptibilité de chacun, je ne préciserai pas qui était la glace et qui était le feu…histoire de donner aux absents, lors de cette mémorable rencontre, la possibilité de laisser vagabonder leur imagination fertile.
</p>
<p>
    Les échanges entre ces deux personnages étaient incisifs, bien que courtois, et donnaient un "je ne sais quoi" de Roland Garros à cette joute verbale. Nous étions à la fois le public et l'arbitre et comptions les points. L'égalité était cependant parfaite, la partie était âpre, sauvage même aurait dit le Père Sabatté. Y aurait -t'il un vainqueur ? Quels seraient les dommages à l'issue du combat ? Las, déjouant les pronostics des plus avisés d'entre nous, le match s'interrompit brutalement, sans vainqueur ni vaincu, lorsque d'une volte face soudaine Silvana plongea sa main pleine de doigts dans la boîte de cornes de gazelles, signifiant, impériale,  que la partie était terminée. Nous étions, nous le public, pantois et Philippe pantelant.
</p>
<p>
    (Philippe surnommé par certains le "serveur volant" et que j'assaisonne avec délectation à la sauce basque, qui est faite, comme chacun sait, à base de piment d'Espelette et se trouve être à l'harissa ce que la musique militaire est à la musique).
</p>
<p>
    Ainsi fût ce là le début de cette saga parisienne qui permit à Silvana de…mais c'est là une autre histoire.
</p>
<p>
    Ainsi fut-il fait.
</p>
<p>
    Amitiés Six Quatre à tous les Foucaudiens citoyens du monde.
</p>
<p>Jean-Michel</p>
<p class="pull-right"><span class="badge">[ JM. IRATCHET ] </span></p>
