<h4>Barrio Latino</h4>
<p>
    Chers amis Foucaudiens, méfiez-vous des médias.
</p>
<div class="col-sm-4 col-md-4 col-lg-4">

    <div class="thumbnail">
        <div class="caption">
            <a class="fancybox" title="BarrioLatino" href="~/Medias/Images/0402BarrioLatino.jpg">
                <img class="img-thumbnail" src="~/Medias/Images/0402BarrioLatino.jpg" />
            </a>
        </div>
    </div>
</div>
    <p>
        Ils ne disent pas tous la vérité, rien que la vérité, toute la vérité, je vous le jure. Nous les avons pris en flagrant délit de menterie. Permettez moi de vous livrer les tenants et aboutissants de ce détournement journalistique.
    </p>
    <p>
        Sur une idée géniale de notre Yannis, dûment mise en musique et orchestrée téléphones en mains, nous nous sommes rendus nuitamment, au premier soir de nos retrouvailles, au Barrio Latino, haut lieu branché de la capitale, très "tendance" comme ils disent avec l'accent pointu et la bouche en cul de poule !
    </p>
    <p>
        Ne m'en demandez pas l'adresse, car à force de traverser uniquement là où il y avait des "petits bonshommes verts", chers à Silvana, j'en ai perdu le sens de l'orientation. Je pourrai vous dire seulement que l'on y accède par une rue à côté d'une place. Les Foucaudiens "enparisiennés" en auront immédiatement localisé l'endroit, à moins que ce soit l'envers, tout dépendant du sens d'arrivée.
    </p>
    <p>
        Nous voici donc, guidés par notre pâtre grec, rendus, et non vomis comme de méchantes langues pourraient à tord le persifler, devant la porte cochère de ce lieu de frivolités noctambules,.
    </p>
    <p>
        (NDLR : La notion de porte kasher, plus étroitement liée aux portes des boucheries du Mellah, a été volontairement écartée par l'auteur)
    </p>
    <p>
        Et là, médusés, nous voyons se dessiner, un peu plus loin sur le trottoir, comme un mouvement de foule. Mouvement qui, à y regarder de plus prêt, prit l'allure de la célèbre tortue cher à Jules, capitaine de l'équipe romaine qui vainquit les Gaulois sur le stade d'Alésia à coups de pilum, ce qui plus tard, beaucoup plus tard passa dans le langage commun sous la forme de "prendre une pilée". Je crois que c'est ça, car circonstance atténuante le jour où nous avons étudié cette période de l'antiquité, j'étais malade, je crois.
    </p>
    <p>
        S'avançant donc à la vitesse du lièvre, cette tortue n'était en fait qu'une cohorte de journaleux, cameramen et éclairagistes en tous genres, encerclant plus que n'escortant, une sorte de petit marquis poudré et suffisant dont le regard était aussi expressif que celui d'un mérou fréquentant les bars un soir de bamboche du côte de Cabo Negro.
    </p>
    <p>
        C'est ainsi que nous apparut, à nous autres Foucaudiens, le dénommé Jean-François Copé.
    </p>
    <p>
        Comment ce diable de petit marquis avait-il appris notre venue; par une parole malheureuse, par une indiscrétion tarifée de la concierge de l'hôtel sous contrat avec les Renseignements Généraux ou le 36 du quai des Orfèvres ? Nous ne le saurons sans doute jamais et peu nous chaut.
    </p>
    <p>
        Son intention nous apparaissait cependant fort clair, il voulait nous brûler la politesse.
    </p>
    <p>
        C'est un usage en vigueur dans la capitale de notre royaume républicain que de se hausser du col pour écraser l'autre, l'entraînement en est quotidien dans le métro.
    </p>
    <p>
        Le voici donc passant devant nous. Son corps était engoncé dans un manteau bleu, d'un bleu cerise, couleur de prédilection des Chasseurs à pieds, qui fêtent chaque année la Sidi Brahim à larges lampées du breuvage du même nom (mon choix personnel irait plutôt vers le Cabernet Président, mais les égouts et les couleuvres ça ne se discute pas). Son port général rigide, laissait supposer qu'il avait, pour repas du soir, avalé un manche à balai (par on ne sait trop quel orifice naturel, mais la vie privée des manches à balai ne nous regarde pas…).
    </p>
    <p>
        Le Yannis, comme le Chacal (cette paire au pluriel fait shako) avec tous ces avions cloués au sol, fleuraient bon le business à faire côté manches, bien qu'en l'occurrence et depuis quelques temps, on ne sache plus très bien où sont les manches et qui les tient…
    </p>
    <p>
        Mais revenons au récit. Notre grec de Ouarzazate, donc, l'œil sombre, jeta sur le personnage un regard aussi révélateur que celui d'un Onassis regardant d'un œil torve la reproduction de son premier bateau en papier journal.
    </p>
    <p>
        C'est alors que, faisant demi-tour d'une volte gracieuse, il lança sentencieusement au vigile médusé qui gardait l'entrée un "on s'en va" du plus bel effet.
    </p>
    <p>
        En une fraction de seconde il transformait le "Barrio" en "Barro" Latino, fangeux et nauséabond.
    </p>
    <p>
        Mais tel est pris qui croyait prendre, le petit marquis poudré, ravalé au rang de Coppelia, poupée dérisoire, attendit vainement l'arrivée des Foucaudiens dans l'antre parisien.
    </p>
    <p>
        Il en oublia même l'heure, tant et si bien, que le dernier métro parti sans lui, il se trouva fort dépourvu devant la bouche close, à grand renfort de grilles, de l'escalier donnant accès au métropolitain.
    </p>
    <p>
        Les journaux du lendemain relatant les faits omirent, sans vergogne, de nous citer et arguèrent d'une soit disant visite impromptue motivée par je ne sais quelle campagne électorale.
    </p>
    <p>
        Ceci est la preuve irréfutable de la duplicité de cette gent bienveillante auprès des gens de cours.
    </p>
    <p>
        Bien chers amis Foucaudiens, à la lumière de ces événements, quand vous entendrez dire du simple quidam, "c'est vrai, c'est écrit dans le journal" ayez ce petit sourire énigmatique de la Mona Lisa, voyant défiler devant elle un car de touristes japonais.
    </p>
    <p>
        Et surtout, n'en pensez pas moins !
    </p>
    <p>
        Ainsi fut-il fait.
    </p>
    <p>
        Amitiés Six Quatre à tous les Foucaudiens citoyens du monde.
    </p>
    <p>
        Jean-Michel
    </p>
    <p class="pull-right"><span class="badge">[ JM. IRATCHET ] </span></p>
