<h4>"Les Danses Effrénées ou tendres " / Journée du 09/07/2004 (fin)</h4>

<p>
    (Soirée du 10/07/04 – La Chunga – Bayonne)
</p>
<p>
    Qu’ils sont beaux, ces ADCF, tout de blanc vêtus. Nul ne peut nier qu’il viennent de « là-bas » tant ils se font entendre par leur accent largement amplifié au contact des uns et des autres, immergeant les clients devenus spectateurs complètement dans les scènes du « Grand Carnaval » * . Ils débarquent dans l’indiscipline la plus complète ; la discrétion, non, ils ne connaissent pas. Cependant, il créent une telle ambiance qu’ils sont pardonnés avec la plus grande indulgence qui soit. Oui, c’est bien le mot, ils débarquent, l’Hadj en tête, visiblement heureux, baladant sur chacun de ces êtres en blanc et rouge un regard paternel, fin prêt pour occuper la piste de danse autant de fois qu’une partenaire répondra à son invitation, et, croyez-moi, elles sont nombreuses et tellement honorées lorsqu’il vient les chercher.
</p>
<p>
    <img src="~/Medias/Images/0407-15.jpg" style="float:left"/> <img src="~/Medias/Images/0407-16.jpg" style="float:left"/> L’Hadj, c’est un grand monsieur qui ne se prend pas au sérieux, un monsieur dont la Sardine et le Tendre sont les dignes enfants. 
    Et quel danseur émérite. Revoyez-vous ce passo doble dansé avec La Sardine et filmé par la Normande caméramane… 
    Tous deux ne peuvent que forcer notre admiration au point de les laisser seuls sur la piste ; tant de complicité, d’affection, la communion est parfaite entre le père et la fille. 
    Oui, bonheur attendrissant. Nous vibrons avec eux lorsque, changement de rythme, des notes venues des îles nous sortent du rêve et de la quiétude. 
    Tous comme un seul homme se lèvent et c’est l’éclatement, le délire général. 
    En cadences effrénées, on assiste à un concours de déhanchements… 
    Qui aurait pu imaginer un jour contempler le Webmaster se trémoussant sur des rythmes endiablés ? Déchaîné ? 
    Il l’est, pour sûr. Sans parler du Mellali qui a consenti à se séparer de sa casquette rouge qu’il eut enfoncée sur la tête tout au cours de la journée (rien ne dit qu’il ne l’a pas remise avant de s’endormir plus tard !) couve du regard La Simpatica plus qu’épanouie ; 
    du Diabolo qui, d’un bout à l’autre du parquet, secoue son corps plus qu’il ne danse ; 
    <img src="~/Medias/Images/0407-17.jpg" style="float:left"/>de la Rubia qui esquisse, timidement, quelques mouvements de danse orientale ; 
    du Renard du désert se défoule avec ardeur sourire éternel aux lèvres, 
    <img src="~/Medias/Images/0407-18.jpg" style="float:left"/>de Bellisima qui suit les pas de la Lorraine qui nous fait démonstration de son talent, 
    La Normande fait partie de la bande l’œil aux aguets pour mieux sauter sur sa caméra dès qu’une scène lui semble filmable ; 
    Carmencita et l’Ingénieur pas très éloignés l’un de l’autre, prêts à s’enlacer pour danser joue contre joue, 
    <img src="~/Medias/Images/0407-19.jpg" style="float:left"/> le Go en chef en transe comme parti, mentalement, vers des rites vaudou ; 
    la rose Vestale souriante se joint à la bande alors même que le Grec <img src="~/Medias/Images/0407-20.jpg" style="float:left"/>, entraîné par ses compères 
    Webmaster et Renard du désert <img src="~/Medias/Images/0407-21.jpg" style="float:left"/>, 
    se débat pour regagner sa place où de belles discussions avec 
    Paquet de Nerf et la Pausée<img src="~/Medias/Images/0407-22.jpg" style="float:left"/> l’attendent à leur table ( ce n’est pas encore ce soir qu’il nous fera une démonstration de Sirtaki, lâcheur !). 
    Quant à Madame Sourire <img src="~/Medias/Images/0407-23.jpg" style="float:left"/>, de loin surveillée par 
    le Déménageur collé à sa chaise et préférant les bavardages avec Paparazzi et Le Calme (quelle jeunesse « pépère », alors !) <img src="~/Medias/Images/0407-24.jpg" style="float:left"/>, 
    elle jubile et dans un savant mouvement fait virevolter sa robe de gitane ce qui peut nous faire comprendre le regard fixe du Déménageur !!!! 
    Et en bout de piste, l’Aviateur contemple dignement l’assistance.
</p>
<p>
    
    Changement de rythme, chacun revient à sa place pour mieux se disputer les bouteilles d’eau, de vin peut être…. OUH, comme il fait « soif »… et là, mes Amis, à la surprise générale, Mimi et Bibi <img src="~/Medias/Images/0407-25.jpg" style="float:left"/>, jusque là restés spectateurs, s’élancent vaillamment sur la piste afin d’esquisser un slow langoureux, mais langoureux, oh oui ! langoureux dont vous trouverez la description détaillée et étoffée faite par le Grec en visionnant la vidéo… je peux vous dire qu’il était « hot »,ce slow !
</p>
<p>
    Cette surprise passée, des couples les accompagnèrent afin de faciliter l’intimité de nos deux amoureux…. Mais nous ne sommes pas au bout des surprises !
</p>
<p>
    
    Un peu plus tard, dans la soirée, qu’elle fut notre stupéfaction de trouver Le Chacal et …. Capriccio <img src="~/Medias/Images/0407-26.jpg" style="float:left"/> dans les bras l’un de l’autre, joue contre joue, dansant lascivement et tendrement devant un Mellali médusé, bouche bée… Ces deux-là retrouvent les « Plaisirs démodés, éloignés du bruit, de la cohue et de la fumée » (Charles, tu fais encore des émules avec ta chanson)… Conscients de nos regards interrogateurs, gênés d’avoir cédé à la tentation, ils s’essaient, à contre cœur, c’est évident, à un rock… mais non, ce rythme ne leur va pas et c’est contrarié que le Chacal ramène son cavalier sagement à sa chaise non sans lui administrer un magistral baisemain effectué dans le plus pur style aristocratique (Eh Chacal, un conseil : évite de t’essuyer la bouche après, ce n’est pas très distingué)….
</p>
<p>
    Décidément, cette fin de soirée nous révèle des tas de choses… La nuit est magique, non ?
</p>
<p>
    * Film d’Arcady avec Roger Hanin notamment
</p>
<p class="pull-right"><span class="badge">[ JM. IRATCHET ] </span></p>
