<h4>La Ligne N°8</h4>
<p>
    Nous avions eu comme première nouvelle que notre ami Aziz venait de débarquer sur le sol de l'Ile de France, terre de nos retrouvailles Foucaudiennes. Par des informations complémentaires, à lui fournies par notre Grec de Ouarzazate il avait été précisé que la ligne de métro à prendre était la numéro 8 , Balard-Créteil…. Cependant les quarts d'heure succédaient aux quarts d'heure sans que nous vissions apparaître la haute silhouette de notre Italien de Tanger. Nous nous perdions en conjectures, échafaudant mille hypothèses, le doute, tout à coup nous assaillit, Yanis lui avait-il dit que, pour nous rejoindre, il fallait également descendre du wagon de métro et gravir les marches nécessaires à la station Grands Boulevards? N'était-il pas en train de faire le ludion entre Balard et Créteil, le regard perdu dans les brumes de la mer Tyrrhénienne ?
</p>
<p>
    La nuit était tombée, les verres se vidaient avec application, la tension montait inexorablement, quant "subito", un coup de sonnette aux accents du klaxon multi-tons cher aux transalpins, retentit dans l'entrée. La tension était à son comble, Françoise, notre hôtesse, toutes affaires cessantes, se précipitait alors vers la porte. Dans quel état retrouverions-nous notre italien ? La porte s'ouvrit, et là mes chers amis et surtout mes chères amies se tenait dans l'encadrement non point l'homme des cavernes du Cap Spartel, mais l'Homme Italien avec un grand H (comme à cheval) et un grand I (comme Hip Hip Hip Hourra). L'homme, poursuis-je, dans toute la plénitude de sa séduction, élégant, les cheveux argentés parfaitement coiffés, la prestance à nulle autre pareille, l'Ecce Homo, quoi ! Forts de notre culture maroco-foucaudienne, et le cœur soulagé, nous lui souhaitâmes le Marhaba Bik à la corne de gazelle et au Ricard, version occidentalisée du lait de chèvre dans le 9ème arrondissement.
</p>
<p>
    L'atmosphère se détendait, il était là. C'est alors qu'une idée, que dis-je une idée, un éclair de génie jaillit de nos cerveaux passablement embrumés par les vapeurs de produits distillés qui sortaient des bouteilles alignées, goulots ouverts, tels des tuyaux d'orgue tournés vers la voûte céleste et qui donnaient à la salle de réunion de l'UNP des airs d'une cathédrale chaotique sortie de l'imagination d'un Gaudi en transe : la ligne n° 8 ne serait jamais plus la même, le Balard -Créteil devenait pour nous une immense incongruité, une aberration toponymique, cette ligne nous l'appellerions désormais la ligne Aziz-Madani.
</p>
<p>
    Ainsi fut-il fait.
</p>
<p>
    Amitiés Six Quatre à tous les Foucaudiens citoyens du monde.
</p>
<p>
    Jean-Michel
</p>
<p class="pull-right"><span class="badge">[ JM. IRATCHET ] </span></p>
