<h4>Malgré la distance, ils étaient là</h4>
<p>
    Qui aurait pu croire que les Lepot regarderaient LE matcheu deu Rugueuby France-Angleterre, hier soir (samedi 27 mars 04)à la télé ?
</p>La dernière fois c'était en ...1970 (!) au C.A.F. de Casa, pour voir jouer notre ami René Maury , avec une équipe venue de France et où il y avait son frère (si nos souvenirs sont bons). Ces "estrangers" (pour nous) avaient été hébergés dans un dortoir de Foucauld et, le lendemain, le Père Pucheu avait été fort discret sur la fin de la troisième mi-temps qui s'y était déroulée. Mais son regard brillant de malice contenue en disait long sur ce qu'il brûlait d'envie de nous raconter !...
<p>
    Hier soir, au téléphone, nous avons senti "notre" René très ému de retrouver (sic) "la cour de Foucauld" dans son pub irlandais de Pau; merci Fifi et la Cavalerie Jaune d'avoir organisé cette cure de rajeunissement!
</p>
<p>
    Adichats! Bibi et Mimi
</p>
<p>
    Ainsi que les téléphones de :
    Eduardo Aguilard, Françoise Garnaud-Perrocheau, Aziz Madani, Christiane Rubio, Silvana Stassi.
</p>
<p class="pull-right"><span class="badge">[ J. ALVAREZ ] </span></p>
