<h4>Participants</h4>
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Nom Prénom</th>
            <th>Provenance</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>ALVAREZ  José </td><td>Villers-Lès-Nancy / France</td></tr>
        <tr><td>ALVAREZ Ghislaine </td><td>Villers-Lès-Nancy / France</td></tr>
        <tr><td>ANTONIOU Yannis </td><td>Athènes / Grèce</td></tr>
        <tr><td>ARGAIN-SIUDA Marie-Pierre </td><td>Bayonne / France</td></tr>
        <tr><td>BRARD Philippe </td><td>Le Mans / France</td></tr>
        <tr><td>IRATCHET Jean-Michel </td><td>Bayonne / France</td></tr>
        <tr><td>STASSI-DEPOT Claudia </td><td>Nice / France</td></tr>
        <tr><td>DEPOT Jean-Luc </td><td>Nice / France</td></tr>
        <tr><td>MENDEZ Maria </td><td>Laval / France</td></tr>
        <tr><td>Père SALLA </td><td>Saint-Palais / France</td></tr>
        <tr><td>MAURY René </td><td>Pau / France</td></tr>
        <tr><td>MAURY Lucie </td><td>Pau / France</td></tr>
        <tr><td>CALVEL Philippe </td><td>Muret / France</td></tr>
        <tr><td>CALVEL Maï </td><td>Muret / France</td></tr>
    </tbody>
</table>
