<h4>Coup d'état</h4>
<p>
    Coups de tonnerre, non pas dans le ciel parisien, quoi que, mais sous les lambris dorés de l'Union Nationale de la Pêche en France et de la Protection du Milieu Aquatique. Un coup d'état est en préparation, un coup d'état se serait produit : "Le fauteuil du Président est déjà occupé" !
</p>
<p>
    L'offensive a été lancée par l'aviation, concept tactique de la maîtrise des airs, mais nous ne somme pas, du moins pas encore, sous un ciel de Bagdad, à la tombée de la nuit zébré des lucioles multicolores des balles traçantes dans le hurlement des sirènes. Non mes amis, gardons notre calme, la situation nous semble moins grave que si elle avait été pire !
</p>
<p>
    C'est cependant un black-out complet et la nuit enveloppe de ses mystères le bureau du Président. Pas un bruit, un calme irréel y règne encore ou a régné ( araignée, pourquoi pas libellule ou papillon…) en ce lieu, laissant présager un déluge de feu ou de glace à la Silvana-Bouin ( Bouin le vrai pas le bas-Bouin !)
</p>
<p>
    CIA, FBI, et autres officines obscures sont-ils au courant ? L'Elysée, Matignon le savent-ils ? A-t'on des nouvelles ?
</p>
<p>
    On imagine sans peine combien dans la rédaction de Métro ( pas nouss…) les téléscripteurs doivent crépiter et les bandes papiers se répandre à même le sol comme la vomissure immonde de nouvelles accablantes….
</p>
<p>
    Sans nul doute aucun une agitation fébrile doit être perceptible aux abords des ministères…
</p>
<p>
    Enfin, quelques nouvelles filtrent, vite happées par la meute des Foucaudiens au comble de leur perplexité (quand je dis la meute, mes propos me semblent un peu exagérés, mais je suis du Sud du détroit de Gibraltar ou du Nord de l'Afrique, chacun choisira !). Ces nouvelles disais-je nous arrivent sous forme d'un trigramme : JMC.
</p>
<p>
    Ces trois lettres reviennent sans cesse dans les conversations, obsédantes, lancinantes … JMC….JMC.
</p>
<p>
    On connaissait GMC, célèbre véhicule de transports de troupes venu d'outre Atlantique en des temps forts troublés…mais JMC !!!!
</p>
<p>
    Comment ce JMC avait–il investi la place ? Comment avait-il connu le code d'accès au lieu objet de tant de spéculations ?
</p>
<p>
    La force Blin-dée y était-elle pour quelque chose ?
</p>
<p>
    Cela ne pouvait durer, il fallait percer l'abcès de ce mystère (IV) et déboucher les Cheneaux.
</p>
<p>
    N'écoutant que leur courage et poussant plus avant dans la quête du renseignement, il fallu bien admettre que sur une part de vérité s'était greffée une interprétation fantaisiste d'une situation manipulée par je ne sais qui pour faire je ne sais quoi.
</p>
<p>
    Il n'en était donc rien de ces rumeurs alarmantes, car un grand albatros aux ailes déployées était tout simplement répandu dans le fauteuil du Président. On entendait seulement, bizarrerie cocasse, un léger, non pas ZZZ…ZZZ… comme on pouvait s'y attendre mais 777…777.
</p>
<p>
    Le volatil gommait les effets dévastateurs d'un sommeil contrarié par un long vol transatlantique entre Buenos-Aires et la rue Berge-Air.
</p>
<p>
    Nul doute qu'avec un tel échassier bizarre qui patinait qui patinait (air connu) le fauteuil du Président, Véronique n'a pas fini de planer du côté de la Méditerranée. Mais la vie privée des échassiers ne nous regarde pas, surtout ceux de Montpellier.
</p>
<p>
    Ainsi fut-il fait.
</p>
<p>
    Amitiés Six Quatre à tous les Foucaudiens citoyens du monde.
</p>
<p>
    Jean-Michel
</p>
<p class="pull-right"><span class="badge">[ JM. IRATCHET ] </span></p>
