<h4>Le Grec</h4>
<p>
    Le Grec et le Chacal. Je lève immédiatement le doute qui assaille vos esprits érudits en vous précisant qu'il ne s'agit pas là d'une fable inédite de La Fontaine ou de Kaddour, mais de ma dernière chronique.
</p>
<p>
    Ainsi donc afin de profiter au mieux nos retrouvailles parisiennes, faites à coups de pots, de Lepot et de restaurants, il nous est apparu indispensable de désigner un popotier pour gérer nos espèces sonnantes et trébuchantes aux moments fatidiques des additions. Il ne nous a pas fallu de second tour pour désigner à l'unanimité plus une voix le "Grec" homme de négoce, comme "trésorier en chef" et le "Chacal" comme suppléant, dés fois que….
</p>
<p>
    Chez le Grec, mesdames et messieurs, tout est business. Il achète et vend tout. J'ai pu observer lors de notre tour de pâté de maison, celui pour faire plaisir à Silvana, avec quel œil gourmand, il regardait les immeubles cossus des 8ème et 9ème arrondissements, pesant les loyers, les valeurs immobilières, les taxes foncières et autres gâteries à nous dispensées par ces messieurs de Bercy. Je l'ai même surpris à lorgner bizarrement vers l'obélisque de la Concorde et la tour Eiffel qui se profilait à l'horizon brumeux du ciel parisien! Avec quelle jubilation il passait et re passait devant l'immeuble de BNP Paribas, rue Bergère, rue qui pour l'occasion aurait pu s'appeler rue Berbère, tant le verbe y était haut et l'accent teinté du chaud soleil marocain (ne pas confondre avec le vin du même nom, de la région de Meknès).
</p>
<p>
    Ce diable d'homme serait bien capable de mettre Paris en bouteille et de la proposer à la vente chez Léon. La bouteille choisie pourrait être d'un modèle semblable à celui rapporté par l'amie des petits bonshommes verts, c'est à dire joliment décoré de motifs jaunes et rouges d'inspiration andalouse, poète, poète…
</p>
<p>
    Tel Shiva, bien que lui préféra le Chivas, sa façon experte de mener de concert deux conversations simultanées sur ses deux portables, l'une en français, l'autre en grec tient du prodige. Ses bras multiples jonglant avec les téléphones….Il parle aussi à la perfection une langue peu usitée de nos jours : le pataouète. Il nous en fit une brillante démonstration en lisant quelques poèmes qu'il agrémentait de commentaires d'une justesse qui nous laissaient éblouis et ivres d'hilarité.
</p>
<p>
    On pourrait pu le comparer à Lucky Luke, le héros de notre enfance, qui tire plus vite que son ombre, bien que le Chacal, cousin du Coyote, autre personnage mythique de l'Ouest Sauvage, ne soit pas manchot non plus…
</p>
<p>
    Parlons un peu maintenant du Chacal : le Chacal, se distingue du Coyote son cousin, par sa façon discrète d'appeler la femelle et ses mœurs alimentaires différentes, qui le conduise occasionnellement, cela a été nuitamment observé, à consommer de la sardine….J'ai dis de la sardine, pas de la morue, non mais !
</p>
<p>
    Un variété de Chacal, d'allure dégingandée dite "à moustaches", est répertoriée comme étant atteinte d'un mal qui, n'ayant rien de commun avec la colique néphrétique, est connu sous le nom de "frénétique du voyage". Certaines destinations lui sont plus particulièrement communes, à savoir : en Afrique sud sahélienne, Bamako, et aux Amériques, Boston. Mais faute de lui avoir mis quelque part une puce, ou autre bestiole répertoriée comme changeant de sexe en une fraction de seconde, pour le suivre à la trace, nous ne sommes pas en mesure de pouvoir donner une liste exhaustive de ses migrations aériennes.
</p>
<p>
    Le Chacal est le compagnon fidèle du pâtre Grec, on pourrait presque dire sa plus belle conquête, si des esprits chagrins ou envieux ne faisaient des allusions déplacées aux coutumes de ce peuple, qui érigea le Parthénon dont les colonnes s'enfilent …les unes derrière les autres en un ensemble majestueux.
</p>
<p>
    Fort heureusement cette coutume a évolué et dans l'histoire et dans le temps.
</p>
<p>
    Elle touche de nos jours plutôt les phoques. Phoques qui ont pris l'habitude de peupler les hôtels de ville, on en a répertorié à Paris mais aussi en province, comme à Pau dans le six quatre par exemple, on en a signalé aussi dans le show bizz...
</p>
<p>
    Pour rassurer le lecteur je tiens à préciser que cette population si particulière, est aussi stérile que le mulet de bât des Tabors Marocains ou que les cathares décimés par Simon de Montfort du côté de chez Fifi. Un bémol cependant sur la reproduction de cette secte manichéenne et moyenâgeuse, puisque les cathares avaient des catarrhes.
</p>
<p>
    N'imaginez cependant pas que l'espèce soit en voie de disparition, bien au contraire. De ce fait, bien que n'étant pas classée comme en voie d'extinction, la chasse n'en est pas moins interdite et sévèrement réprimée par la Loi.
</p>
<p>
    Mais tout à une fin, même les meilleurs moments. Les va et vient dans l'escalier ont cessé, la salle de réunion a depuis retrouvé son atmosphère feutrée, les voix aux accents de "là bas" ne font plus vibrer les murs, la scène est vide, le rideau est tombé.
</p>
<p>
    Comme tous, sauf une, Françoise la gardienne du temple, le Grec et le Chacal sont maintenant repartis.
</p>
<p>
    L'un, le bonnet bleu marine enfoncé jusqu'aux oreilles vers Athènes, son Pirée, et les eaux bleus de sa Méditerranée, l'autre, le Chacal, l'œil rieur et la truffe au vent des hélices, vers les grands oiseaux blancs, son septième ciel, un plateau à la main.
</p>
<p>
    Voilà chers amis, en ces quelques lignes, les derniers portraits sommaires et aux traits volontairement caricaturaux de quelques personnages hauts en couleurs que j'ai eu le plaisir de rencontrer et avec qui je me suis lié d'amitié.
</p>
<p>
    Je souhaite enfin, qu'ils se seront tous autant amusés à lire mes fantaisistes chroniques, que moi à les écrire. Si tel n'était pas le cas, mes excuses les plus "blattes".
</p>
<p>
    Pour ceux qui, empêchés, n'ont pu assister à cette mémorable rencontre, ils savent désormais ce qui les attend…
</p>
<p>
    En tout état de cause, toute ressemblance avec des situations ou des personnages existants où ayant existés, ne serait, bien évidemment, que pure coïncidence.
</p>
<p>
    Foucaudiens, Foucaudiennes; Serviteur !
</p>
<p>
    Ainsi fut-il fait.
</p>
<p>
    Amitiés Six Quatre à tous les Foucaudiens citoyens du monde.
</p>
<p>
    Jean-Michel
</p>
<p class="pull-right"><span class="badge">[ JM. IRATCHET ] </span></p>
