<div class="panel-body">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#0403participants" data-toggle="tab">Participants</a></li>
        <li><a href="#0403id1" data-toggle="tab">Chez Lucie et René MAURY</a></li>
        <li><a href="#0403id2" data-toggle="tab">Malgré la distance, ils étaient là</a></li>
        <li><a href="#0403id3" data-toggle="tab">Chronique sur Saint-Palais de JMI</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="0403participants">
            @Html.Partial("Articles/Rencontres0403-participants")
        </div>
        <div class="tab-pane" id="0403id1">
            @Html.Partial("Articles/Rencontres0403-01")
        </div>
        <div class="tab-pane" id="0403id2">
            @Html.Partial("Articles/Rencontres0403-02")
        </div>
        <div class="tab-pane" id="0403id3">
            @Html.Partial("Articles/Rencontres0403-03")
        </div>
    </div>
</div>
