<h4>Rugby (France-Angleterre) Chez Lucie et René MAURY</h4>
<p>
    Après avoir quitté le Père Salla à Saint-Palais, une partie de la bande prend la direction de Pau, où nous attendent Lucie et René MAURY dans leur IRISH PUB ( la pub en page d'accueil ).
</p>
<p>
    Après les embrassades traditionnelles, nous remettons nos présents : Une caisse de vin des nations du rugby (Afrique du Sud, Australie ...), le maillot du Stade Toulousain que P. CALVEL à fait signé par toute l'équipe du Stade (Allez le StadeEE !!!), le numéro spécial du Tramp et l' "Aziz porte-clefs de Foucauld", sous les yeux attendris de Lucie.
</p>
<p>
    René nous avait dit qu'il sortait d'une terrible grippe, et ma femme se penche vers moi pour me dire : "Il est vraiment mal, il transpire terriblement". Notre René se cachait bien de montrer complètement son visage, car le "dure", le rugbyman "maouss-costaud" et bien mesdames; il avait craqué !!! et pleurait à chaude larmes. (J'ai failli en faire autant --- chut ---).
</p>
<p>
    Notre René allait avoir une soirée remplie d'émotions, car à 21 heures commençait un fameux FRANCE-ANGLETERRE avec le Grand Chelem au bout. Mais René en grand connaisseur, était septique devant la qualité du jeu Anglais.
</p>
<p>
    Je sais, je sais, j'écris très mal (mes profs de Français me l'ont toujours dit) et je n'ai pas la plume de notre scribe de service Jean-Michel, aussi je laisse à BIBI et MIMI LEPOT le soin de vous raconter la suite en image. Car nos deux parigots, bien qu'à 1000 bornes de là étaient bel et bien avec nous par fax interposé. Aussi, à chaque fois que le téléphone sonnait, Lucie regardait le numéro du correspondant afin de ne pas perturber la transmission des 4 fax expédiés par les néo-fans de rugby : le premier à 20h36, puis 21h46, 21h55 et enfin 22h41.
</p>
<div class="col-sm-3 col-md-3 col-lg-3">

    <div class="thumbnail">
        <a class="fancybox" title="0403Diapositive1" href="~/Medias/Images/0403Diapositive1.JPG">
            <img class="img-thumbnail" src="~/Medias/Images/0403Diapositive1.JPG" />
        </a>
       <div class="caption">
           <h3>20h36</h3>
           
        </div>
    </div>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">

    <div class="thumbnail">
        <a class="fancybox" title="0403Diapositive2" href="~/Medias/Images/0403Diapositive2.JPG">
            <img class="img-thumbnail" src="~/Medias/Images/0403Diapositive2.JPG" />
        </a>
       <div class="caption">
          <h3>21h46</h3> 
        </div>
    </div>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">

    <div class="thumbnail">
        <a class="fancybox" title="0403Diapositive3" href="~/Medias/Images/0403Diapositive3.JPG">
            <img class="img-thumbnail" src="~/Medias/Images/0403Diapositive3.JPG" />
        </a>
       <div class="caption">
           <h3>21h55</h3>
           
        </div>
    </div>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">

    <div class="thumbnail">
        <a class="fancybox" title="0403Diapositive4" href="~/Medias/Images/0403Diapositive4.JPG">
            <img class="img-thumbnail" src="~/Medias/Images/0403Diapositive4.JPG" />
        </a>
        <div class="caption">
            <h3>21h55</h3>
            
        </div>
    </div>
</div>

<p class="pull-right"><span class="badge">[ J. ALVAREZ ] </span></p>
