<h4>Sciences Nat.</h4>
<p>
    Le Chassepot est un célèbre fusil inventé par Alphonse du même nom (1833 -1905), qui utilisa la cartouche en papier (pas celui des interrogations écrites…) jusqu'en 1866 ou il fut adapté pour recevoir la cartouche métallique, et prit alors le nom de fusil Gras …tout ça pour faire le parallèle entre les photos de Michel à ses débuts à Foucauld  et sa silhouette d'aujourd'hui cultivée à la tajine et au couscous sarhaoui ! Mais je m'égare, chasser donc le Lepot qui sommeille, réveille inévitablement le professeur de sciences naturelles, qui dormait juste en dessous à moins que ce fût à côté.
</p>
<p>
    C'est ainsi que nous avons eu droit, dans l'encadrement de la porte du couloir de notre Siège parisien,  à un "digest" sur l'art et la manière de torturer la grenouille, plus communément connue sous le nom de vertébré gnathostome (pour faire plaisir à Yannis) tétrapode amphibien anoures,  et ce à des fins scientifiques.
</p>
<p>
    Cette évocation de ces séances indignes, digne (ding, dong) de la plus belle époque de l'Inquisition (13ème-18ème aprés JC) provoqua sur les charmants et juvéniles visages des Marie-Pierre et autre Christiane des mimiques d'un dégoût au moins aussi profond que celui, disait-on insondable, du lac de Daïet Aoua. Plouf !
</p>
<p>
    Plus l'explication prenait de l'emphase, plus l'œil du Michel était éclairé d'une flamme intérieure dont l'intensité était exactement proportionnelle au sentiment d'effroi de ces dames. L'œil était donc vif, coquin dirais-je même et le geste toujours aussi précis sur la façon de tenir le scalpel et surtout de s'en servir. D'une précision, chers amis foucaudiens,  que l'on pourrait qualifier de chirurgicale, si cette expression n'avait pas été détournée de son sens premier à des fins…irakiennes ou serbo-croates. Je préciserai aux amateurs peu éclairés sur les choses de la nature, que le serbo-croate n'est pas le nom latin du cerveau de la grenouille…Bref, l'étude des réflexes du malheureux amphibien dépourvu de son "caput" s'achevant par la dé-médularisation de la pauvre bestiole avec pour effet de la laisser définitivement traumatisée, traumatisé qui en langage de grenouille se dit "coa".
</p>
<p>
    Je n'ai pas eu le privilège d'assister à ces cours, mais je sais que lorsque l'on coupe une patte à cet animal croassant et qu'on lui dit saute, il saute. Il en est de la sorte pour les 2ème et 3ème  pattes. Mais lorsque l'on lui coupe la 4ème , rien ne se produit. Une étude relativement récente, quoique sujette à  caution, en a conclu que couper la 4ème patte de la grenouille la rendait sourde. Il semblerait, mais la chose reste à confirmer, qu'il en soit de même pour le crapaud.
</p>
<p>
    Quant à Bibi, vous savez, l'autre moitié du Michel, elle n'est pas en reste non plus.
</p>
<p>
    J'ai appris avec effarement qu'elle détournait ses cours au profit de son mari. Etonnant non ? En voici le "modus operandi", qui se décline de 3 façons, allant crescendo dans l'horreur : version soft : prenez un arrosoir avec de l'eau (normal dans un arrosoir) et du sulfate de cuivre; version moins douce et plus désinfectante : le même arrosoir avec de l'eau et un soupçon de Javel  (Javil Lacroix, bien sûr); version totalement prescrite par la convention de Genève : planter un piquet de fer et balancez du 220V !!!!
</p>
<p>
    Choisissez maintenant une plate-bande dans la cour de Foucauld et procédez à l'emploi des moyens sus-prescrits et observons. Ce qui se passe à vos pieds, après un délai plus ou moins long, dépendant de la teneur en eau du substrat et de la concentration des produits est vers-itablement éducatif. Vos yeux ébahis verront sortir de terre, drapeau blanc pour ceux arrosés à la Javel, vert pour ceux sulfatés, carbonisés pour les troisièmes : une foultitude de métazoaires invertébrés annélides oligochètes  (mais restons simples, dans l'intimité de leur galerie leurs potes les appellent  les "lombrics"). Ainsi donc le Bibi, dépeuplait  gaillardement le sous-sol de notre chère école, sous le prétexte futile d'un dénombrement de population aux seuls fins de fournir sa ration de vers de terre à son pêcheur de mari !
</p>
<p>
    Il nous a fallu 30 ans et quelques indiscrétions ,savamment distillées, pour connaître "enfin" la vérité. Mais que penser de ces petites têtes blondes innocemment associées à ce véritable génocide ! O temporel, o mores !  Aujourd'hui on procède tout simplement au napalm, et autres bombes à uranium appauvri, on n'arrête pas le progrès.
</p>
<p>
    Le paradoxe, qui mérite d'être souligné,  réside finalement dans le fait que c'est généralement au bibi que l'on fournit les vers de terre, et non l'inverse. Chacun ayant de son côté, vécu ces mois de décembre où le glou glou entendu ne provenait pas obligatoirement du goulot des bouteilles.
</p>
<p>
    Ma première conclusion, hâtive et donc hardie, serait que pour chasser le Bibi il faut un bon Lepot, mais pas celui de 1833 à 1 coup…
</p>
<p>
    La seconde, c'est que pour faire pêcher le Lepot, il n'y a que Bibi…mais la vie privée des professeurs de sciences plus ou moins naturelles ne nous regarde pas..
</p>
<p>
    Ainsi fut-il fait.
</p>
<p>
    Amitiés Six Quatre à tous les Foucaudiens citoyens du monde.
</p>
<p>
    Jean-Michel
</p>

<p class="pull-right"><span class="badge">[ JM. IRATCHET ] </span></p>
