<h4>Les petits bonshommes verts</h4>
<p>
    Il est dans paris, un monde merveilleux et enchanteur, celui des petits bonshommes verts. Ne croyez surtout qu'il s'agisse là d'une chronique à la H.G. Wells sur la Guerre des Mondes relatant l'invasion de notre planète bleue par un peuple venue de la planète rouge…la suite vous la trouverez dans toute bonne librairie, quoi que…
</p>
<p>
    Non, je veux parler tout simplement de ce curieux petit personnage qui peuple les sémaphores de la capitale.
</p>
<p>
    Petit personnage qui possède cette singulière disposition, tel le caméléon, à changer de couleur à intervalles réguliers, ce qui le distingue du curieux animal doté d'yeux, qui comme ceux de Dalida, étaient capable de surveiller simultanément le poisson dans la poêle et le chat sur le rebord de la fenêtre…Ces petits bonshommes verts ont fait, tout au long du séjour, la joie de notre amie Silvana, qui répondait à leur appel à chaque traversée d'avenue.
</p>
<p>
    Qu'elle était enjouée, primesautière même, notre Silvana, lorsque nous lui disions "on va traverser ici". Il nous fallait cependant prendre la précaution de la faire encadrer par de solides énergumènes, tant était grande sa propension à traverser la même chaussée plusieurs fois de suite, comme une vraie cabrette camarguaise (ne pas confondre avec l'instrument de musique du même nom apparenté à la cornemuse et dans lequel on souffle…, pardon Silvana), juste pour le plaisir de répondre à l'appel du petit bonhomme vert.
</p>
<p>
    Le manège était étrange, tant la ressortissante de Villeneuve Loubet semblait hypnotisée par le pictogramme coloré qui semblait lui murmurer à l'oreille comme une invite licencieuse "Silvana traverse !" , "Silvana ne traverse pas !".
</p>
<p>
    Nos yeux émerveillés voyaient se dérouler ce spectacle dont la fraîcheur n'avait d'égal que la température des courants d'air prodigués par dame nature en ce mois de Février, qu'en ces lieux même nos révolutionnaires, (clin d'œil à Françoise) avaient appelé Ventôse.
</p>
<p>
    Mais à cette joie puérile, succédait parfois un désarroi immense, lorsque la rue à traverser ne disposait pas du sémaphore tricolore attendu mais seulement d'un modeste passage clouté. Nous avions alors une Silvana perdue, cherchant désespérément des yeux, en une quête inutile, "son" petit bonhomme vert.
</p>
<p>
    Elle restait ainsi, figée sur bord du trottoir, moderne statue de sel de je ne sais quel Sodome et Gomorrhe. Heureusement que nous étions là pour pallier cet instant de doute car quasiment en lévitation nous la portions pour la déposer, plume gracile, de l'autre côté du macadam. Nous sentions bien poindre chez elle un grand désappointement, de celui qui l'envahissait lorsque toute jeune fille elle était privée de sa confiture d'orange préférée (marque Aïcha, conditionnement en boîte d'un kilo…).
</p>
<p>
    Mais le Foucaudien a bon fond, c'est ainsi que pour faire juste le tour du pâté de maison du siège parisien, ne traversant qu'aux endroits où Silvana savait trouver ces petits compagnons verts, nous avons fait : le boulevard Poissonnière (au fait, je ne comprend pas pourquoi notre siège se situe rue Bergère et pas sur ce boulevard, ça aurait fait plus classe, non ?, à moins qu'UNPF signifie Union Nationale des Pâtres de France ?, mais revenons à nos moutons…), boulevard des Capucines, Opéra, Madeleine, place de la Concorde, jardin des Tuilerie, Comédie Française et rue Richelieu…c'est exactement l'itinéraire suivie. Des photos prises en attestent l'authenticité et ne manqueront pas de convaincre les fausse sceptiques.
</p>
<p>
    Je proposerai d'ailleurs, à l'avenir, de rendre obligatoire la présence dans tous les moyens de transports du petit bonhomme. Dans le métro et le train, il serait vert wagon, sur les bateaux verre d'eau, v'air dans les avions et vers de terre dans les classes de sciences naturelles ….
</p>
<p>
    Aux dernières nouvelles parvenues des confins de la méditerranée, il semblerait que notre amie veuille interpeller sur le sujet le conseil municipal de sa commune.
</p>
<p>
    En attendant un délibération qui lui soit favorable, elle pourra toujours patienter en se servant un bon coup de rouge dans un verre à pied.
</p>
<p>
    En panne d'imagination et faute de mieux, je suggérerai à l'ingénieux Philippe de Toulouse (aussi célèbre que la saucisse du même nom), de mettre au point dans ses spacieux ateliers spatiaux un petit bonhomme vert, inpiduel et portatif.
</p>
<p>
    Notre Silvana, munie de cet engin, pourrait traverser partout et en toute sécurité, dans le monde entier, même là où il n'y a pas de route. Juste pour le fun.
</p>
<p>
    Ainsi fut-il fait.
</p>
<p>
    Amitiés Six Quatre à tous les Foucaudiens citoyens du monde.
</p>
<p>
    Jean-Michel
</p>
<p class="pull-right"><span class="badge">[ JM. IRATCHET ] </span></p>
