<h4>Chronique sur Saint-Palais de JMI</h4>
<p>
    28 mars 2004. Le grand jour des retrouvailles hivernales en terre basque est arrivé.
</p>
<p>
    A 9h00, heure SNCF, je suis au rendez-vous devant chez Marie-Pierre.
</p>
<p>
    Elle devait me guetter derrière les carreaux, car je n'ai même pas eu le temps de finir mon créneau, que je la vois, dans mon rétroviseur, arriver aussi frétillante qu'une sardine sortant de l'eau pour être commercialisée sous l'étiquette Normandie. Une sardine de Safi, il va de soi, qui sont comme de bien entendu, les meilleures du monde !
</p>
<p>
    Marie-Pierre, donc, saroual noir, tunique blanche, toque…non ce n'est pas l'hippodrome d'Anfa ni d'en face d'ailleurs démoli depuis une vingtaine d'année. Le doute m'assaille. Pourquoi a t'elle revêtue sa tenue de méhariste ? Ne va t'elle pas me demander de mettre dans le coffre le moukala, la rahla et le dromadaire ? Certes, Foucauld, certes le désert, soit, mais on ne va tout de même pas rejouer Fort Sagane ! D'autant que si ma voiture est blanche comme un lait de chamelle ce n'est tout de même pas une bétaillère !
</p>
<p>
    Mais ouf je respire, Marie-Pierre est venue sans son attirail, le voyage quoique moins exotique n'en sera que plus confortable.
</p>
<p>
    Après 40 minutes de trajet nous voici, en avance, à Saint-Palais, faisant mentir le vieil adage qui veut que les régionaux de l'étape soient toujours les derniers. D'autant que par chez nous le retard est invariablement majoré d'un quart d'heure, dit quart d'heure bayonnais.
</p>
<p>
    Afin de compléter votre culture générale, que par ailleurs je sais excellente, un peu de géographie. Vous ne trouverez pas Saint-Palais parmi les grands ports sardiniers de France et du Maroc réunis, toutes les tentatives pour adapter la sardine à l'eau douce ayant échoué. Sa production se limite par conséquent essentiellement à quelques boîtes vides et rouillées extraites de l'onde fraîche et transparente par des pêcheurs à la ligne malchanceux (mais à jour de leur cotisation, n'est ce pas Françoise ?), ceci expliquant cela vous n'y trouverez pas non plus de poissonnerie ! Idem vous ne classerez pas Saint-Palais parmi les grandes stations de sport d'hiver, la seule neige que l'on puisse y trouver étant celle, carbonique, des extincteurs et encore, faut-il lire avec attention (et des lunettes) l'étiquette ! De même vous éviterez de qualifier Saint-Palais de capitale de la bière, tout ça parce que la rivière qui la traverse s'appelle la Bidouze !
</p>
<p>
    Non ce qui fait l'attrait de ce charmant village c'est qu'on y trouve une mairie, une église et un monument aux morts. Il semblerait qu'il y ait aussi un cimetière, mais je n'ai pas eu le temps d'en vérifier l'existence.
</p>
<p>
    Cependant à 9h45, en ce samedi matin il ne fait pas bien chaud. Aussi pour réchauffer nos toujours jeunes carcasses et attendre la colonne toulousaine, nous décidons d'aller prendre un café dans un de ces établissements portant le nom de café –restaurant bordant la place du Foirail, qui ne tire pas son nom de la foire à l'ail qui d'ailleurs n'existe pas !
</p>
<p>
    Nous ne sommes pas les seuls à avoir eu cette géniale idée, puisque l'endroit est déjà peuplé par quelques uns des plus beaux spécimen de la race locale, sans doute plus à l'aise au lever de charrue qu'au faufilage ou au point d'Alençon.
</p>
<p>
    Nous prenons le parti de nous asseoir à une grande table occupée à l'autre bout par des gars du crû. Des inpidus du genre quintal qu'il vaut mieux avoir en portrait qu'à table, à moins d'être doté d'un solide compte en banque et d'une vaillante cuisinière ! .
</p>
<p>
    Très bécébégé, notre méhariste demande un "crêêêêêmeuuuh si vou plé", moi plus simplement "un café".
</p>
<p>
    L'énoncé de notre commande a pour effet de faire converger vers nous un grand nombre de regards interrogateurs du style " malades ou touristes ? ", ce qui dans les deux cas n'était pas spécialement flatteur pour nous.
</p>
<p>
    Il me faut vous préciser que dans l'assistance on en était rendue aux œufs sur le plat - frites ! Et même, pour être complet sur le sujet, qu'avant que nous ayons fini d'avaler nos boissons chaudes, les œufs–frites avaient disparu et les grands plats de tripes - pommes de terre vapeur qui leur avait succédé, attaqués surtout par la face Sud-Ouest, succombaient sous les assauts répétés des fourchettes ! C'est ça le terroir !
</p>
<p>
    Pendant ce temps là, le commandant de bord particulier de Claudia posait son taxi prés du pont enjambant la fameuse Bidouze. Ancien de l'aéronavale avait-il été attiré par la concomitance de ces deux éléments ? S'agissait-il de la résurgence d'un vieux réflexe pavlovien ? Je ne tiens pas du tout à m'étendre sur le sujet laissant à une autre le soin de le faire. Nouvelle rassurante donc, les tourtereaux volants en provenance de Nice après escale à Biarritz étaient là, et si la colonne toulousaine n'arrivait pas on pourrait au moins se consoler en faisant une partie de belote basque.
</p>
<p>
    Les présentations d'usage "Toi Claudia, moi Jean- Mimi, elle Marie-Pierre lui Jean-Luc", manquait seulement le Jules à Claudia, qui aurait été parfait dans le rôle de Chita !
</p>
<p>
    Et là, y a pas photo quand on a connu Silvana, on voit Claudia, et réciproquement, c'est copie conforme, même timbre de voix, même couleur de cheveux, même couleur d'yeux, même lunettes (La famille Stassi est certainement cliente chez Afflelou, 2 paires pour le prix d'une…), même sexe (enfin il me semble, n'ayant pas personnellement vérifié…pardon les filles !) jusqu'au nom de famille qui est identique. La Faculté ne nous ayant pas tout dit, je puis affirmer que le clonage humain existe. Entre Dolly et Baby Doll il n'y a qu'un pas que certains ont fait plus que franchir ! A ceci prés cependant, que, si l'une est au vert l'autre est au rouge. Non je ne vous dis pas que Claudia "picole", mais l'air frais du matin donnait à ses joues de jeune fille azuréenne cette coloration si particulière qui sied si bien aux amateurs invétérés de ballons de rouge abonnés aux zincs, encore l'aviation, des comptoirs de bistrots.
</p>
<p>
    Le carillon de l'église sonnant 11h00, voici enfin la colonne toulousaine débouchant, hilare, du fin fond de la place du Foirail tirant à hue et à dia une caissette de vin du monde de l'Ovalie.
</p>
<p>
    A voir les mines réjouies de la troupe, la veille à Toulouse, il ne devait pas y avoir que des glaçons dans les verres !
</p>
<p>
    Sous moi donc cette troupe s'avance semblait dire le Fifi qui était déjà venu en repérage. On y remarquait essentiellement et exclusivement Madame Fifi, (souriante), José et Madame José (souriante aussi), Philippe Brard(sportif), Maria (souriante toujours), la mascotte de la cavalerie jaune en général et de la cavalerie grecque en particulier et enfin Yannis, fidèle à lui-même, comme à sa jeunesse…
</p>
<p>
    Si jusqu'à ce niveau du récit je ne vous en ai pas parlé c'est par respect de la chronologie, mais maintenant je vais pouvoir me lâcher sur PC, le Personal Computer des bords du canal du Midi et de l'Oasis.
</p>
<p>
    Quelques mots sur le Fifi de l'Oasis, grand organisateur de cette journée.
</p>
<p>
    C'est parti…J'avais pu remarquer sur ses photos de Foucauld qu'il avait le front haut, signe de grande intelligence, mon cousin de Casablanca m'ayant déjà brossé de lui un portrait flatteur de ses hautes capacités intellectuelles mais aussi sportives... Or je me trompais, il l'a immense, je ne parle pas de l'intelligence quoi que, mais de son front. Le front du Fifi part juste au-dessus des sourcils, ce qui est pour l'instant normal pour un front, mais il se termine via une courbe harmonieuse à hauteur des conduits auditifs. Les mauvaises langues de l'aéronavale, dont je ne fais pas partie, appellent ça un porte avion à mouches ou à moustiques, tout dépendant de la latitude du dit porte aéronefs ! En raccourci on pourrait dire que c'est un cerveau à oreilles, pas étonnant qu'il balance au-dessus de nos têtes des engins spatiaux qui écoutent les bruits de l'Univers. J'espère que si l'on joue à la pelote basque(?) sur quelque lointaine planète, notre Fifi saura décrypter le claquement sec de la pelote sur le fronton. Ce qui prouverait au passage que les Basques n'ont pas fait que découvrir l'Amérique ! Gora Euzkadi eta Oasis gizona !
</p>
<p>
    Pour ce qui est de son allure générale, je ne dirais pas de lui qu'il est très légèrement bedonnant, nous en sommes tous un peu là, mais seulement que sa ceinture aurait simplement tendance à jouer le rôle de sous ventrière. On sent chez lui que cette légère surcharge pondérale n'est pas le résultat d'une boulimie malape et désordonnée. Non, mais le fruit d'une culture culinaire gasconne à base de magrets glacés au jus caramélisé, de foie gras poêlés et pommes sautées, de pommes de terre rissolées à la graisse de canard, de salades périgourdines, de bonnes tranches de fromage de brebis d'Ossau-Iraty, de tourtières landaises flambées à l'Armagnac, tout cela arrosé de ces multiples vins du Sud-Ouest qui font chanter les papilles et embaument les narines….
</p>
<p>
    Fifi, je t'en conjure, résiste courageusement à toute personne de France, de Navarre et même d'au-delà, qui voudrait te faire maigrir, ta surcharge est une véritable œuvre d'art construite avec tellement d'amour et de passion que ça en serait faire injure à nos Mousquetaires et un crime contre la Gascogne ! Mile Diou !
</p>
<p>
    Quant à la Maria Maria, que je ne connaissais pas, sans doute avait–elle situé Saint-Palais au delà, du cercle arctique (elle n'avait presque pas tord), puisqu'elle l'avait joué Paul Emile Victor avec son gros anorak blanc de chez blanc. Il ne lui manquait plus que le traîneau, les chiens et tout à fait accessoirement la glace, consciente de son erreur elle la réparera au dessert du repas qui suivit !
</p>
<p>
    Mais… il ne faut pas oublier le but de notre venue à Saint-Palais, et nous nous rendons 15 rue du Palais de Justice en passant par la rue de la Monnaie, ce qui a enchanté notre grec, qui se sentait soudain chez lui en terre basque, allez savoir pourquoi !
</p>
<p>
    Et nous voici devant la porte. La cavalerie piaffe, normal. Coup de sonnette, on se serait cru un dimanche à Longchamp et …le père Salla, même allure, même voix, même tournures de phrases….on a enclenché la machine à remonter le temps.
</p>
<p>
    Petit jeu des devinettes qui suis-je ? Déception générale et triomphe de Yannis immédiatement démasqué, pour les autres …rappel à la réalité, nous avons tous pris un coup de vieux, remarque non fondée pour Claudia, benjamine de l'expédition qui pour mieux se faire reconnaître avait ressorti un biberon (là je crois que je dis des bêtises…)
</p>
<p>
    L'apéritif offert par le Pére Salla, et servi par la célébrissime mascotte nous permet de refaire connaissance et bien entendu d'évoquer les souvenirs, nostalgie, nostalgie…Mis en appétit nous nous dirigeons "pedibus jambus" vers le restaurant du Trinquet où nous dégustons un excellent repas fait des spécialités locales, garbure, jambon, magrets et confits arrosés de la Rioja proche.
</p>
<p>
    Au fait, confidentiellement et à voix basse, sachez que vous pouvez, sans rougir, inviter Claudia au resto. Elle se tient bien à table, mange de tout et proprement, elle ne parle pas la bouche pleine, mais attention, il lui faut impérativement au dessert "son" gâteau basque, sinon…
</p>
<p>
    A l'issue du repas, et pour clore cette cordiale journée, nous effectuons un rapide tour de la ville commenté par notre guide "spécial" : le père Salla.
</p>
<p>
    L'heure avance, un dernier pot, et la colonne toulousaine prend la route de Pau.
</p>
<p>
    Mais là c'est une autre histoire… que je suis bien incapable de vous raconter.
</p>
<p>
    Amitiés Six Quatre à tous les Foucaudiens citoyens du monde.
</p>
<p>
    Et à juillet sur la Côte Basque !
</p>
<p>
    Jean-Michel
</p>
<p>
    PS : Silvana, Saint–Palais est une ville bien trop dangereuse pour toi, il n'y a pas de bonshommes verts, Claudia peut en témoigner !
</p>
<p class="pull-right"><span class="badge">[ JM. IRATCHET ] </span></p>
