<h4>"Les Genêts" / Journée du 09/07/2004 (suite)</h4>
<p>
    Détrompez-vous, nous ne sommes pas en Bretagne où, pourtant, les ADCF devront se résoudre à aller tester le couscous, un jour. Non, nous sommes bien toujours et réellement en Euskadi qui, à ma modeste connaissance, ne se pare jamais du jaune des genêts.
</p>
<p>
    Nous nous situons, en ce vendredi 9 juillet au soir au point de ralliement de la troupe… QG de campagne comme dirait le GO en chef, croyez-moi, expert en la matière.
</p>
<p>
    
    Faisons, si vous le voulez bien, un zoom arrière. 
    En effet, suite au déjeuner pris sur « le port des pêcheurs » et pas du tout « les pied dans l’eau », 
    après une saine balade digestive, apaisante et quelque peu titubante, sur le remblai de Biarritz, sous le commandement du GO en chef, 
    les compères (souvenez-vous : La Sardine, Capriccio, Il Diabolo, le Webmaster and Co, la Révolutionnaire et bien sûr le maître de cérémonie) se décident à regagner leur chambre respective afin de récupérer des agapes du midi. 
    Le convoi s’ébranle en direction d’Anglet, limousine du Colonel en tête passant outre tous les radars, suivi du char d’assaut des Lorrains, et de la boîte à savon de La Sardine pilotée par son nouveau chauffeur tête nue certes pour ne pas désordonner sa coiffure. Premier arrêt pour déposer Il Diabolo et se séparer du Go en chef cèdant les rênes à ses adjoints qui ont bien du pain sur la planche (dur, le métier)… Mais ne voilà-t-il pas que, en cours de route, 
    <img src="~/Medias/Images/0407-07.jpg" style="float:left"/>nous apprenons que le Renard du Désert et (sa) Dulcinée ont pointé le bout de leur nez aux Genêts… ils n’étaient attendus qu’en fin de journée (rebelles eux aussi ? Normal, me direz-vous, au contact permanent de la Révolutionnaire). « Comment passer à leur porte sans leur faire la bise ? » pense le comité d’accueil. Embrassades, accolades, effusions, battements de mains sur les épaules des uns et des autres, éclats de rires et sourires à quatre vingt quinze. Brefs, je passe sur les détails de cette « mini » réunion en précisant tout de même que le Chacal, Capriccio et la Révolutionnaire, non contents de trinquer avec une bière, sifflèrent allègrement un second demi de petite mousse (n’oubliez pas les cinq bouteilles de rosé précédentes, s’il vous plaît).
</p>
<p>
    20 h et quelques minutes (tous les ADCF n’ont pas le sens de la précision de Capriccio), le ralliement se forme peu à peu. Dulcinée, belle comme une madone, parée de rose et blanc à l’image de ces déesses hindoues, enjouée, gaie, cependant un peu nostalgique le temps d’un éclair : il y a seize ans, elle était la reine de sa fête, la reine de son prince du désert aux cheveux d’or (je peux en témoigner, ils étaient déjà aussi beaux !).
</p>
<p>
    <img src="~/Medias/Images/0407-08.jpg" style="float:left"/>
    La famille Webmaster, reposée, arrive au complet toujours sans les sabots lorrains. Le Chacal à la veste « léopard » (probablement ramenée avec des gri-gri, tout droit de Bamako), cigarillo aux lèvres (non, soyez sérieux, pas d’amalgame ; il est jeune, mince, la barbe n’envahit pas son visage…non, il n’est pas une émule du Lider Maximo !), le Chacal donc accomplit ses fonctions de relations publiques avec un brio remarquable, parfois aidé de la Sardine quand elle n’est pas au téléphone ou lorsque qu’elle cherche ce dernier dans le fond de son grand sac beige… Ah ! Capriccio tout de rouge et noir vêtu, garibaldiste ? nenni, démon tentateur échappé de l’enfer des patchs, plutôt.
</p>
<p>
    <img src="~/Medias/Images/0407-08b.jpg"style="float:left" />
    Mais qui est donc ce couple souriant et réservé, un peu perdu dans ce monde éthéré et emphatique ? Ils se disent Catalans. Mais oui, bien sûr : l’Aviateur et la Normande caméramane. Ils débarquent pour la première fois dans ce capharnaüm foucauldien avec l’intention ferme de s’y fondre au mieux. Bon courage, Amis, vous ne savez pas à quoi vous vous engagez !
</p>
<p>
    <img src="~/Medias/Images/0407-09.jpg" style="float:left"/>
    Flairant les relents d’une petite bière bien fraîche mais hélas non ch’ti, le grand Mimi, le nez au vent, et la douce Bibi font une entrée fracassante et remarquée… moins fiers que devant une grenouille disséquée ou la résolution appliquée d’une formule chimique… mais ils ont la forme, nos deux tourtereaux et oh combien amoureux. Ces deux là, un véritable couple d’inséparables, vous dis-je.
</p>
<p>
    <img src="~/Medias/Images/0407-10.jpg" style="float:left"/>
    A propos d’inséparables, rappelez-vous le film « Les oiseaux », plus particulièrement la scène où les bestioles envahissent la maison… une réelle tornade. Eh bien, figurez-vous que la tornade ne nous est pas épargnée : véritable bourrasque, Il Diabolo nous fonce dessus comme el Toro sur le matador. Tous s’écartent pour parer les dégâts… C’est qu’il est tellement impatient de revoir ses potes, le Diabolo… plus de trente ans qu’il attendait cet évènement à tel point que, pour se mettre en condition, il a préféré faire un footing, lui (au lieu de se reposer dans sa chambre). Il nous débite une avalanche de souvenirs de jeunesse (il avait appris son texte par cœur, ma parole ; preuve que désormais, il peut le faire, je dis bien désormais car il ne l’a jamais pu pour le Jean Rey d’anglais, l’animal !).
</p>
<p>
    Dans la tempête, nous n’avons pas pu voir le GO en chef, sacoche sous le bras, listing à la main, cochant les présents avec sérieux, sourcils froncés, lunettes sur le nez, certainement préoccupé intérieurieurement du bon déroulement des opérations, mais arborant son éternelle bonhomie.
</p>
<p>
    Bien entendu, inutile de préciser combien ces retrouvailles sont arrosées, plaisir partagé de tous mais trop rapidement perturbé par le signal du départ.
</p>
<p>
    <img src="~/Medias/Images/0407-12.jpg" style="float:left"/>
    Les véhicules se remplissent avec lenteur et dans l’indiscipline la plus complète quand, soudain, sur la pointe des pieds comme voulant ne pas déranger la troupe en vadrouille, hésitant à l’approcher tout en la dévisageant avec insistance, un couple passe… Le Renard du Désert se fige interrogatif, la Révolutionnaire est interloquée… « Mis ils sont des nôtres ces deux-là » se disent-ils en eux-mêmes. Ce sont le Mellali et "La simpatica" ! Bingo ! Étreintes plus qu’émues entre ces quatre-là au point d’en rester muets quelques secondes, puis échanges de banalités quand déboule légère comme un lutin "Otra Bellissima", belle comme un rêve (qu’ils sont beaux et mignons les enfants des ADCF, compliment du narrateur aux parents).
</p>
<p>
    <img src="~/Medias/Images/0407-13.jpg" style="float:left"/> 
    Finalement, le cortège se met en route, warnings allumés, il ne manque que le concert des klaxons (et la mariée quoique ce soir ne serait-ce pas la Dulcinée !)…. 
    Mais cela s’explique par l’absence du Grec et de (sa) Vestale restés « en rade » à Paris, 
    <img src="~/Medias/Images/0407-14.jpg" style="float:left"/> et à cette heure-ci quelque part entre Orléans et Poitiers, dans le petit taxi de Carmencita et de l’Ingénieur, sur le chemin menant au pays des hortensias… 
</p>


<p>
    En conclusion, à l’instar du Grec, je leur dis à tous les quatre «Vous nous avez manqué, les Habibi !)
</p>
<p>
    La journée ayant été épuisante, pour narrer la suite de cette première soirée en Euskadi,je cède la plume à une âme dévouée en l’assurant, par anticipation, de toute ma gratitude.
</p>
<p class="pull-right"><span class="badge">[ JM. IRATCHET ] </span></p>
