<h4>Lepot Négro</h4>
<p>
    Mais le règne animal a ses vengeances ! Savez-vous chers Foucaudiens que notre ami Lepot, qui est en verlan "Letop" des professeurs de sciences naturelles, (mon souci de la précision le ferait même qualifier de water-proofesseur, tant est grande son attirance pour le milieu aqueux) a été l'objet de … mais lisez plutôt cette affaire qui vaut son pesant de larmes, de crocodiles, bien évidemment.
</p>
<p>
    Plantons le décor. Une côte sauvage entre M'Diq et Rio Martil, au lieu dit Cabo Negro, célèbre pour son "Petit Mérou et la sculpture (?) de César ( pas celui qui vainquit les Gaulois 5 à 2 avant JC). Un lieu aux roches brunies par des siècles d'ardant rayonnement solaire, une terre ocre jaune parsemée d'une végétation arbustive recouverte de poussière par les vents balayant le détroit, le ciel et la mer se fondant à l'horizon dans un même bleu (Aussi bleu que le bleu de tes yeux, j'en Piaf, excusez-moi), et une jetée marine faite de gros blocs en béton posés par je ne sais quel Hercule ou Maciste, recouverte de petites algues qui selon l'heure de la journée et l'amplitude de la marée passent du vert au mauve…
</p>
<p>
    Sur cette jetée, donc notre Lepot pêchait, l'œil fixé sur le bouchon et l'oreille attentive au bruit du ressac.
</p>
<p>
    Il était là sous un ciel des plus serein, absorbé par ses contemplations halieutiques, innocent des nuages sombres qui courraient vers lui comme une machine infernale lancée, folle et épouvantable, sur les rails de son destin…Ce tableau idyllique n'allait pas tarder à se métamorphoser brutalement en une œuvre que l'on croirait peinte par la grande faucheuse qui, subtile stratagème, prendrait les formes menaçantes d'une murène. Dame murène qui par l'odeur de l'appât du Lepot alléché ( ne pas confondre avec l'odeur du Lepot à la patte à lécher), sortie des sombres profondeurs océanes fondit sur le funeste hameçon de l'appât du Lepot.
</p>
<p>
    Il faut savoir, chers amis, que l'ingurgitation d'un tel appât provoque cher le pêcheur en général, c'est également vrai pour le pêcheur en simple soldat, un réflexe pavlovien bien connu sous le nom technique de "ferrage" et qui consiste en une saisie brutale de la canne lui imprimant un sec mouvement de bas en haut. C'est d'ailleurs, pour être complet sur le sujet, à la promptitude de ce réflexe que l'on reconnaît le bon du mauvais pêcheur.
</p>
<p>
    Notre ami Michel, homo sapiens sapiens (transformé en Oh mince, ça pince, ça pince lorsqu'il farfouille sous les rochers) ayant fait jaillir hors de l'onde l'infâme animal, se trouva désappointé par la qualité de sa prise. Il l'avait imaginée plus noble et de nature à alimenter le récit, à la nuit tombée, un verre d'anisette à la main, d'un combat gigantesque entre lui et l'animal marin dont un Hemingway aurait pu et su tirer un livre légendaire. Accablé par le courroux et s'y prenant mal dans la manipulation de la bête, ne le voilà t'il pas offrant malencontreusement le gras de sa main gauche à l'appétit vorace du monstre marin qui, ne faisant ni une mais deux, y planta ses petites excroissances affilées qui saillent de sa gueule…Un douleur intense, paralysante et insidieuse remplit Lepot, lequel pot étant plein se plaint de voir sa main prolongée par cette sorte de prothèse agitée de contorsions serpentines. Mais, braves gens, si la douleur endormit le pêcheur elle réveilla illico le professeur émules des meilleurs spécialistes de l'outil à tailler des boutonnières. Il se saisit donc du couteau libérateur, et, sans sourciller d'un poil qu'il n'avait plus sec, trancha d'un geste désespéré les zygomatiques de la murène, qui fut par-là même bien obligée de lâcher prise. Petite digression, j'ignorais que la chanson " Ce matin un lapin a tué un chasseur", avait une version marocaine " Ce matin une murène a pêché un pêcheur". Mais le cocasse c'est que l'histoire ne s'arrête pas là, et quand ça veut pas rire, ça rit pas. Et ça ripa, lorsque pliant les gaules et farfouillant, handicapé, dans ses affaires il se fit piquer au bras droit pas une vive… Re douleur intense paralysante et insidieuse. Vraiment Michel manquait de pot. Souhaitons lui en plus qu'il ne glisse pas sur la jetée et ne perde les clés de sa voiture volée sur le parking… Fort heureusement il n'en fût rien, et c'est une Bibi hilare qui vit arriver un mari fort marri, dont les bras engourdis pendaient dérisoires le long d'un corps empoisonné. Mais n'étant point rendu à "omnes erint, ultima necat" Michel dans un sursaut de lucidité, follement envahi par l'instinct de survie, génétiquement ancré en lui depuis le fond des âges, se précipita sur un flacon de Ventoline dont il s'administra une généreuse bouffée salvatrice.
</p>
<p>
    La leçon à tirer chers amis Foucaudiens est d'importance, car pour aller tremper son fil dans l'eau du côté de Cabo Negro, il vous faut impérativement être professeur de sciences naturelles comme marines, être muni d'un couteau et enfin avoir à portée immédiate un anti-asthmatique. "A bon entendeur, salut".
</p>
<p>
    Ainsi fut-il fait.
</p>
<p>
    Amitiés Six Quatre à tous les Foucaudiens citoyens du monde.
</p>
<p>
    Jean-Michel
</p>
<p class="pull-right"><span class="badge">[ JM. IRATCHET ] </span></p>
