<div class="flex-containerHome flex-viewport">
    <div class="flexslider">
        <ul class="slides">
            @*<li>
                <img src="~/Content/images/v3laiwid.jpg" />
                <p class="flex-caption-home">Joyeuses Pâques à toutes et à tous.</p>
            </li>*@
            @*<li>
                <img src="~/Medias/_Photos/Divers/The-Fire-Phoenix.jpg" />
                <p class="flex-caption-home">Tel un phénix, le site ACDF renaît de ses cendres. <br /> <small>(Desktop, Tablette and SmartPhone)</small></p>
            </li>*@
            <li>
                <a class="fancybox" href="~/Medias/_Photos/Batiments/PTentree.jpg"><img src="~/Medias/_Photos/Batiments/PTentree.jpg" /></a>
                <p class="flex-caption-home">Entrée principale.</p>
            </li>
            <li>

                <a class="fancybox" href="~/Medias/_Photos/Batiments/PTcourdespetitslabuvette.jpg"><img src="~/Medias/_Photos/Batiments/PTcourdespetitslabuvette.jpg" /></a>
                <p class="flex-caption">Cours des petits.</p>
            </li>
            <li>

                <a class="fancybox" href="~/Medias/_Photos/Batiments/PTcourdesgrands.jpg"><img src="~/Medias/_Photos/Batiments/PTcourdesgrands.jpg" /></a>
                <p class="flex-caption-home">Cours des grands.</p>
            </li>
            <li>

                <a class="fancybox" href="~/Medias/_Photos/Batiments/PTchapelle.jpg"><img src="~/Medias/_Photos/Batiments/PTchapelle.jpg" /></a>
                <p class="flex-caption-home">Chapelle puis gymnase.</p>
            </li>
            <li>

                <a class="fancybox" href="~/Medias/_Photos/Batiments/PTensemble.jpg"><img src="~/Medias/_Photos/Batiments/PTensemble.jpg" /></a>
                <p class="flex-caption-home">Panoramique.</p>
            </li>
            <li>

                <a class="fancybox" href="~/Medias/_Photos/Batiments/PTpreau.jpg"><img src="~/Medias/_Photos/Batiments/PTpreau.jpg" /></a>
                <p class="flex-caption-home">Préau.</p>

            </li>
            <li>

                <a class="fancybox" href="~/Medias/_Photos/Batiments/PTchibaniadevantlebureaudepucheu.jpg"><img src="~/Medias/_Photos/Batiments/PTchibaniadevantlebureaudepucheu.jpg" /></a>
                <p class="flex-caption-home">Escalier rentrée des élèves.</p>

            </li>
        </ul>
    </div>
</div>
