<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Liens</h4>
    </div>
    <div class="panel-body" style="font-size:small">
        <p>Des liens en rapport avec l'école Charles de Foucauld</p>
        <div class="panel-group" id="accordionLiens">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" title="Liens" data-parent="#accordionL" href="#collapseLiens">
                            Consulter
                        </a>
                    </h4>
                </div>
                <div id="collapseLiens" class="panel-collapse collapse">
                    <div class="panel-body">
                        On Facebook:
                        <ul>
                            <li><a href="https://www.facebook.com/groups/6438001206/" target="_blank">Anciens Charles de Foucauld Casablanca</a> <br /> (Yves Dulin) <i class="fa fa-external-link"></i></li>
                            <li><a href="https://www.facebook.com/groups/7445081532/" target="_blank">Ecole Charles de foucauld Casablanca</a> <br /> (Hakim Benmakhlouf) <i class="fa fa-external-link"></i></li>
                            <li><a href="https://www.facebook.com/groups/10260397835/" target="_blank">Charles de foucauld (E.C.A.M)</a> <br /> (Amina Bellamlih) <i class="fa fa-external-link"></i></li>
                        </ul>
                        Various:
                        <ul>
                            <li><a href="http://foucauld.casa.free.fr/" target="_blank">Notre Page sur FREE </a> <i class="fa fa-external-link"></i></li>
                            <li><a href="http://www.betharram.org/" target="_blank">Bétharram (Monde) </a> <i class="fa fa-external-link"></i></li>
                            <li><a href="http://www.betharram.fr/" target="_blank">Bétharram (Prov-France) </a> <i class="fa fa-external-link"></i></li>
                            <li><a href="http://www.lyceefr.org/" target="_blank">Lycées fr Maroc </a> <i class="fa fa-external-link"></i></li>
                            <li><a href="http://morido.wanadooadsl.net/" target="_blank">Anciens du MAS </a> <i class="fa fa-external-link"></i></li>
                            <li><a href="http://www.annuairepn.com/" target="_blank">Anciens du Maghreb </a> <i class="fa fa-external-link"></i></li>
                            <li><a href="http://copainsdavant2.linternaute.com/etablissement/392556/1/charles_de_foucauld_casablanca/" target="_blank">Copains d'avant </a> <i class="fa fa-external-link"></i></li>
                            <li><a href="http://www.telquel-online.com/" target="_blank">Le Maroc Tel qu'il est </a> <i class="fa fa-external-link"></i></li>
                        </ul>
                        @*<p><a class="btn btn-default" href="#">See more &raquo;</a></p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
        <ul class="list-inline"><li><a href="#">4 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 7 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 56 Shares</a></li></ul>
    </div>
</div>
