                <p>
                    Bernard SAUVAT est né en 1941.
                </p>
                <p>
                    C’est au Maroc, alors qu’il était professeur de math, que Bernard SAUVAT écrira ses premières chansons, avant de se faire repérer en 1970 par , le directeur de radio Lucien MORISSE qui décide de faire de lui, le nouveau Charles TRENET.
                </p>
                <p>
                    Dans un de ses titres <a href="http://bernardsauvat.skyrock.com/1874717925-Casablanca-41-2007.html" target="_blank">Casablanca 41</a> <i class="fa fa-external-link"></i>, il parle de Charles de Foucauld
                </p>
                <p>
                    <em>
                        De la nouala de Manesmane ...jusqu'au collège Charles de Foucauld<br />
                        Où ce qu'on m'enseigne<br />
                        Il faut que les gens s'aiment<br />
                        Et ce qu'on m'enseigne<br />
                        C'est pas pour qu 'les cœurs saignent<br />
                    </em>
                </p>
                <p>Pour mémoire, il est l'interprète du titre "<em>Le Professeur est un réveur</em>"</p>
                <p>
                    <a href="http://bernardsauvat.free.fr/" target="_blank">Site web</a> <i class="fa fa-external-link"></i>
                </p>
