                <p>
                    Jean-Claude Basdekis exerce depuis trente ans les professions d'infirmier, de kinésithérapeute et de conseiller en diététique et nutrition. Régulièrement confronté à des patients présentant des problèmes de surpoids, il s'est très tôt spécialisé dans cette discipline afin de les conseiller en leur faisant part de ses connaissances. Jean-Claude Basdekis est aussi l'auteur de plusieurs ouvrages plus spécifiquement consacrés à la diététique à adopter dans la prévention des maladies dites de " civilisation " (infarctus, hypertension artérielle, obésité, diabète, etc.).
                </p>
