                <p>
                    Anne-Marie Michaud-Duhour a grandi dans le bled marocain et partage son existence entre les deux pays qui l'inspirent, le Maroc et le Pays basque. Sa vie s'est tissée à travers son métier de professeur de philosophie, son goût pour la littérature et le plaisir qu'elle prend à écrire ses récits merveilleux. Anne-Marie Michaud-Duhour, après avoir enseigné la philosophie, se consacre à l'écriture. Elle a déjà publié les « Contes de la vieille Colombe » aux éditions atlantica.
                </p>
                <p><a href="#">Commmander le livre</a></p>
                <p>
                    Dans la vidéo du Père Olçomendi sur le site [ <a href="@Url.Content("~/Video")">MAROC 64-73</a> ], parmi les 300 photos, les photos 54 à 72 sont prises à la ferme dont il est question dans le livre
                    (Notées "Chez Ximum DUHOUR" par le père Olçomendi).
                </p>
                <p><a href="http://www.michaud-duhour.fr/home" target="_blank">Site web</a> <i class="fa fa-external-link"></i></p>
