<div class="panel panel-default">
    <div class="panel-heading">
        <h4 id="ancienstalent"> Les anciens ont du talent</h4>
    </div>
    <div class="panel-body">
        <div class="thumbnail">
            <b>Anne-Marie Michaud-Duhour</b>
            <img src="~/Medias/Images/LaJarreBrisee.jpg" title="Anne-Marie Michaud-Duhour" alt="Anne-Marie Michaud-Duhour" />
            <div class="caption" style="font-size:small">
                @Html.Partial("_PanelTalentPartial_Duhour")
            </div>
        </div>

        <div class="thumbnail">
            <b>Jean-claude BASDEKIS</b>
            <img src="~/Medias/Images/JCBASDEKIS.png" title="Jean-Claude Basdekis" alt="Jean-Claude Basdekis" />
            <div class="caption" style="font-size:small">
                @Html.Partial("_PanelTalentPartial_Basdekis")
            </div>
        </div>

        <div class="thumbnail">
            <b>Bernard SAUVAT</b>
            <img src="~/Medias/Images/BSauvat.jpg" title="Bernard SAUVAT" alt="Bernard SAUVAT" />
            <div class="caption" style="font-size:small">
                @Html.Partial("_PanelTalentPartial_Sauvat")
            </div>
        </div>

        <div class="thumbnail">
            <b>Valérie Mairesse</b>
            <img src="~/Medias/Images/V-Mairesse.jpg" title="Valérie Mairesse" alt="Valérie Mairesse" />
            <div class="caption" style="font-size:small">
                @Html.Partial("_PanelTalentPartial_Mairesse")
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
        <ul class="list-inline"><li><a href="#">4 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 7 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 56 Shares</a></li></ul>
    </div>
</div>
