<div class="panel panel-danger">
    <div class="panel-heading">
        <h4>CONNEXION</h4>
    </div>
    <div class="panel-body">
        @*<div class="row nav navbar-nav navbar-left">*@
            <div class="btn">
                    @Html.Partial("_LoginPartial")
            </div>
    </div>
    <div class="panel-footer">
        <small>N'oubliez pas une photo 200 x 200 pixels max.</small>
    </div>
</div>
