                <p>
                    Née à Paris le 8 juin 1954, Valérie Mairesse a passé une grande partie de son enfance à Casablanca au Maroc.
                </p>
                <p><a href="https://fr.wikipedia.org/wiki/Val%C3%A9rie_Mairesse" target="_blank">WikiPedia</a> <i class="fa fa-external-link"></i></p>
