<?xml version="1.0" encoding="utf-8"?>

<!-- Pour plus d’informations sur l’utilisation de la transformation Web.config, rendez-vous sur http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Dans l'exemple ci-dessous, la transformation "SetAttributes" changera la valeur de 
 "connectionString" afin d'utiliser "ReleaseSQLServer" uniquement lorsque le localisateur "Match" 
 trouve un attribut "name" qui a une valeur "MyDB" .
 
 < connectionStrings> 
 < add name="MyDB" 
 connectionString="Data Source=ReleaseSQLServer; Initial Catalog=MyReleaseDB; Integrated Security=True" 
 xdt:Transform="SetAttributes" xdt:Locator="Match(name)" /> 
 < /connectionStrings> 
  -->
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="data source=JOW-NAS\SQLEXPRESS;
         initial catalog=aspnet-Ja.Mvc.Acdf;
         Persist Security Info=True;
         User ID=cdf54projet;
         Password=p@ssword2014"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="AcdfEntities"
          connectionString="metadata=res://*/Models.ModelAcdf.csdl|res://*/Models.ModelAcdf.ssdl|res://*/Models.ModelAcdf.msl;
        provider=System.Data.SqlClient;
        provider connection string=&quot;
        data source=JOW-NAS\SQLEXPRESS;
        initial catalog=aspnet-Ja.Mvc.Acdf;
        persist security info=True;
        user id=cdf54projet;
        password=p@ssword2014;
        MultipleActiveResultSets=True;
        App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/MyError/UnHandledException" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/MyError/NotFound" />
      <error statusCode="403" redirect="~/MyError/AccessDenied" />
    </customErrors>
  </system.web>
  
  <!--
    Copy App_Settings\Distrib-appSettings.config to App_Settings\appSettings-Release.config.
    Fill appSettings-Release.config with YOUR-VALUES
  -->
  <appSettings configSource="App_Settings\appSettings-Release.config" xdt:Transform="Replace" />
  <!--
    Copy App_Settings\Distrib-MailSettings.config to App_Settings\MailSettings-Common.config.
    Fill appSettings-Release.config with YOUR-VALUES
  -->
  <system.net>
    <mailSettings>
      <smtp configSource="App_Settings\MailSettings-Common.config"/>
    </mailSettings>
  </system.net>

</configuration>